In [1]:
from flask import Flask 
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import text as query_text
from sqlalchemy.sql import func


app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+mysqlconnector://nyahua:123456@nyahua.com:3306/movie'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False 
app.config['SQLALCHEMY_ECHO'] = True
app.app_context().push()

db = SQLAlchemy(app)

### Create the database and input data from SQL file

In [2]:
sql_script = ("""
DROP TABLE IF EXISTS movie_info;

CREATE TABLE IF NOT EXISTS movie_info (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_name VARCHAR(20) NOT NULL,
    release_date DATETIME,
    country VARCHAR(20),
    movie_type VARCHAR(10),
    release_year INT CHECK (release_year >= 1000 AND release_year <= 2100)
);


insert into movie_info
values('1001','战狼2','2017/7/27','中国','战争','2017');

insert into movie_info
values('1002','哪吒之魔童降世','2019/7/26','中国','动画','2019');

insert into movie_info
values('1003','流浪地球','2019/2/5','中国','科幻','2019');

insert into movie_info
values('1004','复仇者联盟4','2019/4/24','美国','科幻','2019');

insert into movie_info
values('1005','红海行动','2018/2/16','中国','战争','2018');

insert into movie_info
values('1006','唐人街探案2','2018/2/16','中国','喜剧','2018');

insert into movie_info
values('1007','我不是药神','2018/7/5','中国','喜剧','2018');

insert into movie_info
values('1008','中国机长','2019/9/30','中国','剧情','2019');

insert into movie_info
values('1009','速度与激情8','2017/4/14','美国','动作','2017');

insert into movie_info
values('1010','西虹市首富','2018/7/27','中国','喜剧','2018');

insert into movie_info
values('1011','复仇者联盟3','2018/5/11','美国','科幻','2018');

insert into movie_info
values('1012','捉妖记2','2018/2/16','中国','喜剧','2018');

insert into movie_info
values('1013','八佰','2020/08/21','中国','战争','2020');

insert into movie_info
values('1014','姜子牙','2020/10/01','中国','动画','2020');

insert into movie_info
values('1015','我和我的家乡','2020/10/01','中国','剧情','2020');

insert into movie_info
values('1016','你好，李焕英','2021/02/12','中国','喜剧','2021');

insert into movie_info
values('1017','长津湖','2021/09/30','中国','战争','2021');

insert into movie_info
values('1018','速度与激情9','2021/05/21','中国','动作','2021');
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:20:45,466 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-11-15 23:20:45,468 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-15 23:20:46,740 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-11-15 23:20:46,742 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-15 23:20:47,162 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-11-15 23:20:47,163 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-15 23:20:47,590 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:20:47,809 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_info
2023-11-15 23:20:47,810 INFO sqlalchemy.engine.Engine [generated in 0.21811s] {}
2023-11-15 23:20:48,294 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_info (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_name VARCHAR(20) NOT NULL,
    release_date DATETIME,
    country VARCHAR(20),
    movie_type VARCHAR(10),
    release_year INT CHECK (release_year >= 1000 AND release_year <= 2100)
)
2023-11-15 23:20:48,296 INFO sqlalchemy.engine.Engine [generated in 0.21004s] {}
2023-11-15 23:20:48,811 INFO sqlalchemy.engine.Engine insert into movie_info
values('1001','战狼2','2017/7/27','中国','战争','2017')
2023-11-15 23:20:48,812 INFO sqlalchemy.engine.Engine [generated in 0.20931s] {}
2023-11-15 23:20:49,252 INFO sqlalchemy.engine.Engine insert into movie_info
values('1002','哪吒之魔童降世','2019/7/26','中国','动画','2019')
2023-11-15 23:20:49,253 INFO sqlalchemy.engine.Engine [generated in 0.21367s] {}
2023-11-15 23:20:49,673 INFO sqlalchemy.engine.Engine insert into movie_info
values('1003','流浪地球','2019/2/5','中国','科幻','2019')
2023-11-15 23:20:49,675 INFO sqlalchemy.engine.Engine [generated in 0.20941s] {}
2023-11-15 23:20:50,099 INFO sqlalchemy.engine.Engine insert into movie_info
values('1004','复仇者联盟4','2019/4/24','美国','科幻','2019')
2023-11-15 23:20:50,100 INFO sqlalchemy.engine.Engine [generated in 0.21448s] {}
2023-11-15 23:20:50,519 INFO sqlalchemy.engine.Engine insert into movie_info
values('1005','红海行动','2018/2/16','中国','战争','2018')
2023-11-15 23:20:50,521 INFO sqlalchemy.engine.Engine [generated in 0.21004s] {}
2023-11-15 23:20:50,941 INFO sqlalchemy.engine.Engine insert into movie_info
values('1006','唐人街探案2','2018/2/16','中国','喜剧','2018')
2023-11-15 23:20:50,942 INFO sqlalchemy.engine.Engine [generated in 0.20931s] {}
2023-11-15 23:20:51,361 INFO sqlalchemy.engine.Engine insert into movie_info
values('1007','我不是药神','2018/7/5','中国','喜剧','2018')
2023-11-15 23:20:51,363 INFO sqlalchemy.engine.Engine [generated in 0.20985s] {}
2023-11-15 23:20:51,780 INFO sqlalchemy.engine.Engine insert into movie_info
values('1008','中国机长','2019/9/30','中国','剧情','2019')
2023-11-15 23:20:51,781 INFO sqlalchemy.engine.Engine [generated in 0.20870s] {}
2023-11-15 23:20:52,200 INFO sqlalchemy.engine.Engine insert into movie_info
values('1009','速度与激情8','2017/4/14','美国','动作','2017')
2023-11-15 23:20:52,201 INFO sqlalchemy.engine.Engine [generated in 0.20986s] {}
2023-11-15 23:20:53,044 INFO sqlalchemy.engine.Engine insert into movie_info
values('1010','西虹市首富','2018/7/27','中国','喜剧','2018')
2023-11-15 23:20:53,045 INFO sqlalchemy.engine.Engine [generated in 0.63430s] {}
2023-11-15 23:20:53,467 INFO sqlalchemy.engine.Engine insert into movie_info
values('1011','复仇者联盟3','2018/5/11','美国','科幻','2018')
2023-11-15 23:20:53,468 INFO sqlalchemy.engine.Engine [generated in 0.20953s] {}
2023-11-15 23:20:53,890 INFO sqlalchemy.engine.Engine insert into movie_info
values('1012','捉妖记2','2018/2/16','中国','喜剧','2018')
2023-11-15 23:20:53,892 INFO sqlalchemy.engine.Engine [generated in 0.21286s] {}
2023-11-15 23:20:54,729 INFO sqlalchemy.engine.Engine insert into movie_info
values('1013','八佰','2020/08/21','中国','战争','2020')
2023-11-15 23:20:54,731 INFO sqlalchemy.engine.Engine [generated in 0.21404s] {}
2023-11-15 23:20:55,152 INFO sqlalchemy.engine.Engine insert into movie_info
values('1014','姜子牙','2020/10/01','中国','动画','2020')
2023-11-15 23:20:55,153 INFO sqlalchemy.engine.Engine [generated in 0.21022s] {}
2023-11-15 23:20:55,572 INFO sqlalchemy.engine.Engine insert into movie_info
values('1015','我和我的家乡','2020/10/01','中国','剧情','2020')
2023-11-15 23:20:55,573 INFO sqlalchemy.engine.Engine [generated in 0.21001s] {}
2023-11-15 23:20:55,992 INFO sqlalchemy.engine.Engine insert into movie_info
values('1016','你好，李焕英','2021/02/12','中国','喜剧','2021')
2023-11-15 23:20:55,993 INFO sqlalchemy.engine.Engine [generated in 0.20984s] {}
2023-11-15 23:20:57,278 INFO sqlalchemy.engine.Engine insert into movie_info
values('1017','长津湖','2021/09/30','中国','战争','2021')
2023-11-15 23:20:57,280 INFO sqlalchemy.engine.Engine [generated in 0.64882s] {}
2023-11-15 23:20:57,701 INFO sqlalchemy.engine.Engine insert into movie_info
values('1018','速度与激情9','2021/05/21','中国','动作','2021')
2023-11-15 23:20:57,702 INFO sqlalchemy.engine.Engine [generated in 0.21053s] {}
2023-11-15 23:20:58,120 INFO sqlalchemy.engine.Engine
2023-11-15 23:20:58,121 INFO sqlalchemy.engine.Engine [generated in 0.20921s] {}
2023-11-15 23:20:58,122 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
sql_script = ("""
DROP TABLE IF EXISTS movie_box;

CREATE TABLE IF NOT EXISTS movie_box (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_box float
);

insert into movie_box
values('1001',56.84);

insert into movie_box
values('1002',50.15);

insert into movie_box
values('1003',46.86);

insert into movie_box
values('1004',42.5);

insert into movie_box
values('1005',36.5);

insert into movie_box
values('1006',33.97);

insert into movie_box
values('1007',31);

insert into movie_box
values('1008',29.12);

insert into movie_box
values('1009',26.7);

insert into movie_box
values('1010',25.47);

insert into movie_box
values('1011',23.9);

insert into movie_box
values('1012',22.37);

insert into movie_box
values('1013',30.10);

insert into movie_box
values('1014',16.02);

insert into movie_box
values('1015',28.29);

insert into movie_box
values('1016',54.13);

insert into movie_box
values('1017',53.48);

insert into movie_box
values('1018',13.92);
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:20:58,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:20:58,789 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_box
2023-11-15 23:20:58,791 INFO sqlalchemy.engine.Engine [generated in 0.21182s] {}
2023-11-15 23:20:59,333 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_box (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_box float
)
2023-11-15 23:20:59,334 INFO sqlalchemy.engine.Engine [generated in 0.23803s] {}
2023-11-15 23:21:00,669 INFO sqlalchemy.engine.Engine insert into movie_box
values('1001',56.84)
2023-11-15 23:21:00,670 INFO sqlalchemy.engine.Engine [generated in 0.64875s] {}
2023-11-15 23:21:01,111 INFO sqlalchemy.engine.Engine insert into movie_box
values('1002',50.15)
2023-11-15 23:21:01,112 INFO sqlalchemy.engine.Engine [generated in 0.21130s] {}
2023-11-15 23:21:01,535 INFO sqlalchemy.engine.Engine insert into movie_box
values('1003',46.86)
2023-11-15 23:21:01,537 INFO sqlalchemy.engine.Engine [generated in 0.21274s] {}
2023-11-15 23:21:01,959 INFO sqlalchemy.engine.Engine insert into movie_box
values('1004',42.5)
2023-11-15 23:21:01,961 INFO sqlalchemy.engine.Engine [generated in 0.21184s] {}
2023-11-15 23:21:02,385 INFO sqlalchemy.engine.Engine insert into movie_box
values('1005',36.5)
2023-11-15 23:21:02,386 INFO sqlalchemy.engine.Engine [generated in 0.21378s] {}
2023-11-15 23:21:02,806 INFO sqlalchemy.engine.Engine insert into movie_box
values('1006',33.97)
2023-11-15 23:21:02,807 INFO sqlalchemy.engine.Engine [generated in 0.20862s] {}
2023-11-15 23:21:03,224 INFO sqlalchemy.engine.Engine insert into movie_box
values('1007',31)
2023-11-15 23:21:03,225 INFO sqlalchemy.engine.Engine [generated in 0.20908s] {}
2023-11-15 23:21:03,645 INFO sqlalchemy.engine.Engine insert into movie_box
values('1008',29.12)
2023-11-15 23:21:03,648 INFO sqlalchemy.engine.Engine [generated in 0.21172s] {}
2023-11-15 23:21:04,074 INFO sqlalchemy.engine.Engine insert into movie_box
values('1009',26.7)
2023-11-15 23:21:04,075 INFO sqlalchemy.engine.Engine [generated in 0.21544s] {}
2023-11-15 23:21:04,497 INFO sqlalchemy.engine.Engine insert into movie_box
values('1010',25.47)
2023-11-15 23:21:04,500 INFO sqlalchemy.engine.Engine [generated in 0.21311s] {}
2023-11-15 23:21:04,922 INFO sqlalchemy.engine.Engine insert into movie_box
values('1011',23.9)
2023-11-15 23:21:04,924 INFO sqlalchemy.engine.Engine [generated in 0.21010s] {}
2023-11-15 23:21:05,768 INFO sqlalchemy.engine.Engine insert into movie_box
values('1012',22.37)
2023-11-15 23:21:05,770 INFO sqlalchemy.engine.Engine [generated in 0.21003s] {}
2023-11-15 23:21:07,069 INFO sqlalchemy.engine.Engine insert into movie_box
values('1013',30.10)
2023-11-15 23:21:07,069 INFO sqlalchemy.engine.Engine [generated in 0.64856s] {}
2023-11-15 23:21:07,492 INFO sqlalchemy.engine.Engine insert into movie_box
values('1014',16.02)
2023-11-15 23:21:07,493 INFO sqlalchemy.engine.Engine [generated in 0.21156s] {}
2023-11-15 23:21:07,917 INFO sqlalchemy.engine.Engine insert into movie_box
values('1015',28.29)
2023-11-15 23:21:07,919 INFO sqlalchemy.engine.Engine [generated in 0.21224s] {}
2023-11-15 23:21:08,340 INFO sqlalchemy.engine.Engine insert into movie_box
values('1016',54.13)
2023-11-15 23:21:08,341 INFO sqlalchemy.engine.Engine [generated in 0.21217s] {}
2023-11-15 23:21:08,762 INFO sqlalchemy.engine.Engine insert into movie_box
values('1017',53.48)
2023-11-15 23:21:08,763 INFO sqlalchemy.engine.Engine [generated in 0.20948s] {}
2023-11-15 23:21:09,184 INFO sqlalchemy.engine.Engine insert into movie_box
values('1018',13.92)
2023-11-15 23:21:09,186 INFO sqlalchemy.engine.Engine [generated in 0.21235s] {}
2023-11-15 23:21:09,605 INFO sqlalchemy.engine.Engine
2023-11-15 23:21:09,606 INFO sqlalchemy.engine.Engine [cached since 11.69s ago] {}
2023-11-15 23:21:09,607 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
sql_script = ("""
DROP TABLE IF EXISTS actor_info;

CREATE TABLE IF NOT EXISTS actor_info (
 actor_id INT AUTO_INCREMENT PRIMARY KEY,
 actor_name varchar(20) Not Null,
 gender varchar(2) Not Null,
 country varchar(20)
);

insert into actor_info
values('2001','吴京','男','中国');

insert into actor_info
values('2002','饺子','男','中国');

insert into actor_info
values('2003','屈楚萧','男','中国');

insert into actor_info
values('2004','郭帆','男','中国');

insert into actor_info
values('2005','乔罗素','男','美国');

insert into actor_info
values('2006','小罗伯特·唐尼','男','美国');

insert into actor_info
values('2007','克里斯·埃文斯','男','美国');

insert into actor_info
values('2008','林超贤','男','中国');

insert into actor_info
values('2009','张译','男','中国');

insert into actor_info
values('2010','黄景瑜','男','中国');

insert into actor_info
values('2011','陈思诚','男','中国');

insert into actor_info
values('2012','王宝强','男','中国');

insert into actor_info
values('2013','刘昊然','男','中国');

insert into actor_info
values('2014','文牧野','男','中国');

insert into actor_info
values('2015','徐峥','男','中国');

insert into actor_info
values('2016','刘伟强','男','中国');

insert into actor_info
values('2017','张涵予','男','中国');

insert into actor_info
values('2018','F·加里·格雷','男','美国');

insert into actor_info
values('2019','范·迪塞尔','男','美国');

insert into actor_info
values('2020','杰森·斯坦森','男','美国');

insert into actor_info
values('2021','闫非','男','中国');

insert into actor_info
values('2022','沈腾','男','中国');

insert into actor_info
values('2023','安东尼·罗素','男','美国');

insert into actor_info
values('2024','克里斯·海姆斯沃斯','男','美国');

insert into actor_info
values('2025','许诚毅','男','中国');

insert into actor_info
values('2026','梁朝伟','男','中国');

insert into actor_info
values('2027','白百何','女','中国');

insert into actor_info
values('2028','井柏然','男','中国');

insert into actor_info
values('2029','管虎','男','中国');

insert into actor_info
values('2030','王千源','男','中国');

insert into actor_info
values('2031','姜武','男','中国');

insert into actor_info
values('2032','宁浩','男','中国');

insert into actor_info
values('2033','葛优','男','中国');

insert into actor_info
values('2034','范伟','男','中国');

insert into actor_info
values('2035','贾玲','女','中国');

insert into actor_info
values('2036','张小斐','女','中国');

insert into actor_info
values('2037','陈凯歌','男','中国');

insert into actor_info
values('2038','徐克','男','中国');

insert into actor_info
values('2039','易烊千玺','男','中国');

insert into actor_info
values('2040','林诣彬','男','美国');

insert into actor_info
values('2041','米歇尔·罗德里格兹','女','美国');
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:21:10,042 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:21:10,260 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS actor_info
2023-11-15 23:21:10,262 INFO sqlalchemy.engine.Engine [generated in 0.21630s] {}
2023-11-15 23:21:10,719 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS actor_info (
 actor_id INT AUTO_INCREMENT PRIMARY KEY,
 actor_name varchar(20) Not Null,
 gender varchar(2) Not Null,
 country varchar(20)
)
2023-11-15 23:21:10,721 INFO sqlalchemy.engine.Engine [generated in 0.21029s] {}
2023-11-15 23:21:11,259 INFO sqlalchemy.engine.Engine insert into actor_info
values('2001','吴京','男','中国')
2023-11-15 23:21:11,260 INFO sqlalchemy.engine.Engine [generated in 0.20951s] {}
2023-11-15 23:21:11,700 INFO sqlalchemy.engine.Engine insert into actor_info
values('2002','饺子','男','中国')
2023-11-15 23:21:11,701 INFO sqlalchemy.engine.Engine [generated in 0.21034s] {}
2023-11-15 23:21:12,534 INFO sqlalchemy.engine.Engine insert into actor_info
values('2003','屈楚萧','男','中国')
2023-11-15 23:21:12,535 INFO sqlalchemy.engine.Engine [generated in 0.62417s] {}
2023-11-15 23:21:12,953 INFO sqlalchemy.engine.Engine insert into actor_info
values('2004','郭帆','男','中国')
2023-11-15 23:21:12,955 INFO sqlalchemy.engine.Engine [generated in 0.21077s] {}
2023-11-15 23:21:13,372 INFO sqlalchemy.engine.Engine insert into actor_info
values('2005','乔罗素','男','美国')
2023-11-15 23:21:13,373 INFO sqlalchemy.engine.Engine [generated in 0.20879s] {}
2023-11-15 23:21:13,794 INFO sqlalchemy.engine.Engine insert into actor_info
values('2006','小罗伯特·唐尼','男','美国')
2023-11-15 23:21:13,795 INFO sqlalchemy.engine.Engine [generated in 0.21139s] {}
2023-11-15 23:21:14,219 INFO sqlalchemy.engine.Engine insert into actor_info
values('2007','克里斯·埃文斯','男','美国')
2023-11-15 23:21:14,222 INFO sqlalchemy.engine.Engine [generated in 0.21572s] {}
2023-11-15 23:21:14,647 INFO sqlalchemy.engine.Engine insert into actor_info
values('2008','林超贤','男','中国')
2023-11-15 23:21:14,649 INFO sqlalchemy.engine.Engine [generated in 0.21238s] {}
2023-11-15 23:21:15,072 INFO sqlalchemy.engine.Engine insert into actor_info
values('2009','张译','男','中国')
2023-11-15 23:21:15,073 INFO sqlalchemy.engine.Engine [generated in 0.21021s] {}
2023-11-15 23:21:15,500 INFO sqlalchemy.engine.Engine insert into actor_info
values('2010','黄景瑜','男','中国')
2023-11-15 23:21:15,501 INFO sqlalchemy.engine.Engine [generated in 0.21204s] {}
2023-11-15 23:21:15,919 INFO sqlalchemy.engine.Engine insert into actor_info
values('2011','陈思诚','男','中国')
2023-11-15 23:21:15,920 INFO sqlalchemy.engine.Engine [generated in 0.20899s] {}
2023-11-15 23:21:16,338 INFO sqlalchemy.engine.Engine insert into actor_info
values('2012','王宝强','男','中国')
2023-11-15 23:21:16,339 INFO sqlalchemy.engine.Engine [generated in 0.21041s] {}
2023-11-15 23:21:16,758 INFO sqlalchemy.engine.Engine insert into actor_info
values('2013','刘昊然','男','中国')
2023-11-15 23:21:16,760 INFO sqlalchemy.engine.Engine [generated in 0.21049s] {}
2023-11-15 23:21:17,620 INFO sqlalchemy.engine.Engine insert into actor_info
values('2014','文牧野','男','中国')
2023-11-15 23:21:17,621 INFO sqlalchemy.engine.Engine [generated in 0.64917s] {}
2023-11-15 23:21:18,039 INFO sqlalchemy.engine.Engine insert into actor_info
values('2015','徐峥','男','中国')
2023-11-15 23:21:18,040 INFO sqlalchemy.engine.Engine [generated in 0.20924s] {}
2023-11-15 23:21:18,901 INFO sqlalchemy.engine.Engine insert into actor_info
values('2016','刘伟强','男','中国')
2023-11-15 23:21:18,902 INFO sqlalchemy.engine.Engine [generated in 0.65175s] {}
2023-11-15 23:21:19,324 INFO sqlalchemy.engine.Engine insert into actor_info
values('2017','张涵予','男','中国')
2023-11-15 23:21:19,326 INFO sqlalchemy.engine.Engine [generated in 0.21186s] {}
2023-11-15 23:21:19,747 INFO sqlalchemy.engine.Engine insert into actor_info
values('2018','F·加里·格雷','男','美国')
2023-11-15 23:21:19,748 INFO sqlalchemy.engine.Engine [generated in 0.21110s] {}
2023-11-15 23:21:20,167 INFO sqlalchemy.engine.Engine insert into actor_info
values('2019','范·迪塞尔','男','美国')
2023-11-15 23:21:20,168 INFO sqlalchemy.engine.Engine [generated in 0.20975s] {}
2023-11-15 23:21:20,588 INFO sqlalchemy.engine.Engine insert into actor_info
values('2020','杰森·斯坦森','男','美国')
2023-11-15 23:21:20,589 INFO sqlalchemy.engine.Engine [generated in 0.21110s] {}
2023-11-15 23:21:21,010 INFO sqlalchemy.engine.Engine insert into actor_info
values('2021','闫非','男','中国')
2023-11-15 23:21:21,011 INFO sqlalchemy.engine.Engine [generated in 0.20885s] {}
2023-11-15 23:21:21,438 INFO sqlalchemy.engine.Engine insert into actor_info
values('2022','沈腾','男','中国')
2023-11-15 23:21:21,439 INFO sqlalchemy.engine.Engine [generated in 0.21802s] {}
2023-11-15 23:21:22,277 INFO sqlalchemy.engine.Engine insert into actor_info
values('2023','安东尼·罗素','男','美国')
2023-11-15 23:21:22,278 INFO sqlalchemy.engine.Engine [generated in 0.20881s] {}
2023-11-15 23:21:22,699 INFO sqlalchemy.engine.Engine insert into actor_info
values('2024','克里斯·海姆斯沃斯','男','美国')
2023-11-15 23:21:22,702 INFO sqlalchemy.engine.Engine [generated in 0.21278s] {}
2023-11-15 23:21:23,125 INFO sqlalchemy.engine.Engine insert into actor_info
values('2025','许诚毅','男','中国')
2023-11-15 23:21:23,128 INFO sqlalchemy.engine.Engine [generated in 0.21428s] {}
2023-11-15 23:21:23,556 INFO sqlalchemy.engine.Engine insert into actor_info
values('2026','梁朝伟','男','中国')
2023-11-15 23:21:23,559 INFO sqlalchemy.engine.Engine [generated in 0.21613s] {}
2023-11-15 23:21:23,985 INFO sqlalchemy.engine.Engine insert into actor_info
values('2027','白百何','女','中国')
2023-11-15 23:21:23,985 INFO sqlalchemy.engine.Engine [generated in 0.21063s] {}
2023-11-15 23:21:24,409 INFO sqlalchemy.engine.Engine insert into actor_info
values('2028','井柏然','男','中国')
2023-11-15 23:21:24,410 INFO sqlalchemy.engine.Engine [generated in 0.21113s] {}
2023-11-15 23:21:24,830 INFO sqlalchemy.engine.Engine insert into actor_info
values('2029','管虎','男','中国')
2023-11-15 23:21:24,831 INFO sqlalchemy.engine.Engine [generated in 0.21019s] {}
2023-11-15 23:21:25,252 INFO sqlalchemy.engine.Engine insert into actor_info
values('2030','王千源','男','中国')
2023-11-15 23:21:25,254 INFO sqlalchemy.engine.Engine [generated in 0.21084s] {}
2023-11-15 23:21:25,674 INFO sqlalchemy.engine.Engine insert into actor_info
values('2031','姜武','男','中国')
2023-11-15 23:21:25,675 INFO sqlalchemy.engine.Engine [generated in 0.21150s] {}
2023-11-15 23:21:26,533 INFO sqlalchemy.engine.Engine insert into actor_info
values('2032','宁浩','男','中国')
2023-11-15 23:21:26,535 INFO sqlalchemy.engine.Engine [generated in 0.20983s] {}
2023-11-15 23:21:27,399 INFO sqlalchemy.engine.Engine insert into actor_info
values('2033','葛优','男','中国')
2023-11-15 23:21:27,400 INFO sqlalchemy.engine.Engine [generated in 0.65073s] {}
2023-11-15 23:21:27,823 INFO sqlalchemy.engine.Engine insert into actor_info
values('2034','范伟','男','中国')
2023-11-15 23:21:27,824 INFO sqlalchemy.engine.Engine [generated in 0.20848s] {}
2023-11-15 23:21:28,242 INFO sqlalchemy.engine.Engine insert into actor_info
values('2035','贾玲','女','中国')
2023-11-15 23:21:28,243 INFO sqlalchemy.engine.Engine [generated in 0.20949s] {}
2023-11-15 23:21:28,668 INFO sqlalchemy.engine.Engine insert into actor_info
values('2036','张小斐','女','中国')
2023-11-15 23:21:28,669 INFO sqlalchemy.engine.Engine [generated in 0.21261s] {}
2023-11-15 23:21:29,086 INFO sqlalchemy.engine.Engine insert into actor_info
values('2037','陈凯歌','男','中国')
2023-11-15 23:21:29,088 INFO sqlalchemy.engine.Engine [generated in 0.20883s] {}
2023-11-15 23:21:29,509 INFO sqlalchemy.engine.Engine insert into actor_info
values('2038','徐克','男','中国')
2023-11-15 23:21:29,511 INFO sqlalchemy.engine.Engine [generated in 0.21225s] {}
2023-11-15 23:21:29,933 INFO sqlalchemy.engine.Engine insert into actor_info
values('2039','易烊千玺','男','中国')
2023-11-15 23:21:29,934 INFO sqlalchemy.engine.Engine [generated in 0.21123s] {}
2023-11-15 23:21:30,777 INFO sqlalchemy.engine.Engine insert into actor_info
values('2040','林诣彬','男','美国')
2023-11-15 23:21:30,778 INFO sqlalchemy.engine.Engine [generated in 0.63372s] {}
2023-11-15 23:21:31,200 INFO sqlalchemy.engine.Engine insert into actor_info
values('2041','米歇尔·罗德里格兹','女','美国')
2023-11-15 23:21:31,201 INFO sqlalchemy.engine.Engine [generated in 0.21094s] {}
2023-11-15 23:21:31,622 INFO sqlalchemy.engine.Engine
2023-11-15 23:21:31,623 INFO sqlalchemy.engine.Engine [cached since 33.71s ago] {}
2023-11-15 23:21:31,625 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
sql_script = ("""
DROP TABLE IF EXISTS movie_actor_relation;
CREATE TABLE IF NOT EXISTS movie_actor_relation
( 
 id varchar(10) Not Null,
 movie_id INT Not Null,
 actor_id INT Not Null,
 relation_type varchar(20),
 primary key(id)
);


insert into movie_actor_relation
values('1','1001','2001','主演');

insert into movie_actor_relation
values('2','1001','2001','导演');

insert into movie_actor_relation
values('3','1002','2002','导演');

insert into movie_actor_relation
values('4','1003','2001','主演');

insert into movie_actor_relation
values('5','1003','2003','主演');

insert into movie_actor_relation
values('6','1003','2004','导演');

insert into movie_actor_relation
values('7','1004','2005','导演');

insert into movie_actor_relation
values('8','1004','2006','主演');

insert into movie_actor_relation
values('9','1004','2007','主演');

insert into movie_actor_relation
values('10','1005','2008','导演');

insert into movie_actor_relation
values('11','1005','2009','主演');

insert into movie_actor_relation
values('12','1005','2010','主演');

insert into movie_actor_relation
values('13','1006','2011','导演');

insert into movie_actor_relation
values('14','1006','2012','主演');

insert into movie_actor_relation
values('15','1006','2013','主演');

insert into movie_actor_relation
values('16','1007','2014','导演');

insert into movie_actor_relation
values('17','1007','2015','主演');

insert into movie_actor_relation
values('18','1008','2016','导演');

insert into movie_actor_relation
values('19','1008','2017','主演');

insert into movie_actor_relation
values('20','1009','2018','导演');

insert into movie_actor_relation
values('21','1009','2019','主演');

insert into movie_actor_relation
values('22','1009','2020','主演');

insert into movie_actor_relation
values('23','1010','2021','导演');

insert into movie_actor_relation
values('24','1010','2022','主演');

insert into movie_actor_relation
values('25','1011','2023','导演');

insert into movie_actor_relation
values('26','1011','2006','主演');

insert into movie_actor_relation
values('27','1011','2024','主演');

insert into movie_actor_relation
values('28','1012','2025','导演');

insert into movie_actor_relation
values('29','1012','2026','主演');

insert into movie_actor_relation
values('30','1012','2027','主演');

insert into movie_actor_relation
values('31','1012','2028','主演');

insert into movie_actor_relation
values('32','1013','2029','导演');

insert into movie_actor_relation
values('33','1013','2030','主演');

insert into movie_actor_relation
values('34','1013','2009','主演');

insert into movie_actor_relation
values('35','1013','2031','主演');

insert into movie_actor_relation
values('36','1015','2032','导演');

insert into movie_actor_relation
values('37','1015','2015','导演');

insert into movie_actor_relation
values('38','1015','2011','导演');

insert into movie_actor_relation
values('39','1015','2015','主演');

insert into movie_actor_relation
values('40','1015','2033','主演');

insert into movie_actor_relation
values('41','1015','2034','主演');

insert into movie_actor_relation
values('42','1016','2035','导演');

insert into movie_actor_relation
values('43','1016','2035','主演');

insert into movie_actor_relation
values('44','1016','2036','主演');

insert into movie_actor_relation
values('45','1016','2022','主演');

insert into movie_actor_relation
values('46','1017','2037','导演');

insert into movie_actor_relation
values('47','1017','2038','导演');

insert into movie_actor_relation
values('48','1017','2008','导演');

insert into movie_actor_relation
values('49','1017','2001','主演');

insert into movie_actor_relation
values('50','1017','2039','主演');

insert into movie_actor_relation
values('51','1018','2040','导演');

insert into movie_actor_relation
values('52','1018','2019','主演');

insert into movie_actor_relation
values('53','1018','2041','主演');

""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:21:32,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:21:32,272 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_actor_relation
2023-11-15 23:21:32,274 INFO sqlalchemy.engine.Engine [generated in 0.21362s] {}
2023-11-15 23:21:32,734 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_actor_relation
(
 id varchar(10) Not Null,
 movie_id INT Not Null,
 actor_id INT Not Null,
 relation_type varchar(20),
 primary key(id)
)
2023-11-15 23:21:32,736 INFO sqlalchemy.engine.Engine [generated in 0.21690s] {}
2023-11-15 23:21:33,685 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('1','1001','2001','主演')
2023-11-15 23:21:33,686 INFO sqlalchemy.engine.Engine [generated in 0.63790s] {}
2023-11-15 23:21:34,581 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('2','1001','2001','导演')
2023-11-15 23:21:34,582 INFO sqlalchemy.engine.Engine [generated in 0.63537s] {}
2023-11-15 23:21:35,032 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('3','1002','2002','导演')
2023-11-15 23:21:35,033 INFO sqlalchemy.engine.Engine [generated in 0.22940s] {}
2023-11-15 23:21:35,457 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('4','1003','2001','主演')
2023-11-15 23:21:35,458 INFO sqlalchemy.engine.Engine [generated in 0.20997s] {}
2023-11-15 23:21:36,757 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('5','1003','2003','主演')
2023-11-15 23:21:36,758 INFO sqlalchemy.engine.Engine [generated in 1.08558s] {}
2023-11-15 23:21:38,069 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('6','1003','2004','导演')
2023-11-15 23:21:38,071 INFO sqlalchemy.engine.Engine [generated in 1.09756s] {}
2023-11-15 23:21:38,921 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('7','1004','2005','导演')
2023-11-15 23:21:38,924 INFO sqlalchemy.engine.Engine [generated in 0.21020s] {}
2023-11-15 23:21:39,345 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('8','1004','2006','主演')
2023-11-15 23:21:39,346 INFO sqlalchemy.engine.Engine [generated in 0.20989s] {}
2023-11-15 23:21:39,763 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('9','1004','2007','主演')
2023-11-15 23:21:39,764 INFO sqlalchemy.engine.Engine [generated in 0.20885s] {}
2023-11-15 23:21:40,183 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('10','1005','2008','导演')
2023-11-15 23:21:40,184 INFO sqlalchemy.engine.Engine [generated in 0.20969s] {}
2023-11-15 23:21:40,602 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('11','1005','2009','主演')
2023-11-15 23:21:40,604 INFO sqlalchemy.engine.Engine [generated in 0.20974s] {}
2023-11-15 23:21:41,027 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('12','1005','2010','主演')
2023-11-15 23:21:41,028 INFO sqlalchemy.engine.Engine [generated in 0.21122s] {}
2023-11-15 23:21:42,293 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('13','1006','2011','导演')
2023-11-15 23:21:42,294 INFO sqlalchemy.engine.Engine [generated in 1.05389s] {}
2023-11-15 23:21:42,791 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('14','1006','2012','主演')
2023-11-15 23:21:42,792 INFO sqlalchemy.engine.Engine [generated in 0.20885s] {}
2023-11-15 23:21:43,213 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('15','1006','2013','主演')
2023-11-15 23:21:43,214 INFO sqlalchemy.engine.Engine [generated in 0.20950s] {}
2023-11-15 23:21:43,633 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('16','1007','2014','导演')
2023-11-15 23:21:43,634 INFO sqlalchemy.engine.Engine [generated in 0.21015s] {}
2023-11-15 23:21:44,489 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('17','1007','2015','主演')
2023-11-15 23:21:44,492 INFO sqlalchemy.engine.Engine [generated in 0.21325s] {}
2023-11-15 23:21:45,349 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('18','1008','2016','导演')
2023-11-15 23:21:45,351 INFO sqlalchemy.engine.Engine [generated in 0.20967s] {}
2023-11-15 23:21:45,771 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('19','1008','2017','主演')
2023-11-15 23:21:45,772 INFO sqlalchemy.engine.Engine [generated in 0.21149s] {}
2023-11-15 23:21:46,196 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('20','1009','2018','导演')
2023-11-15 23:21:46,198 INFO sqlalchemy.engine.Engine [generated in 0.21335s] {}
2023-11-15 23:21:46,617 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('21','1009','2019','主演')
2023-11-15 23:21:46,618 INFO sqlalchemy.engine.Engine [generated in 0.20932s] {}
2023-11-15 23:21:47,476 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('22','1009','2020','主演')
2023-11-15 23:21:47,477 INFO sqlalchemy.engine.Engine [generated in 0.64628s] {}
2023-11-15 23:21:48,333 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('23','1010','2021','导演')
2023-11-15 23:21:48,334 INFO sqlalchemy.engine.Engine [generated in 0.20891s] {}
2023-11-15 23:21:48,752 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('24','1010','2022','主演')
2023-11-15 23:21:48,753 INFO sqlalchemy.engine.Engine [generated in 0.20931s] {}
2023-11-15 23:21:49,171 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('25','1011','2023','导演')
2023-11-15 23:21:49,173 INFO sqlalchemy.engine.Engine [generated in 0.21059s] {}
2023-11-15 23:21:49,602 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('26','1011','2006','主演')
2023-11-15 23:21:49,603 INFO sqlalchemy.engine.Engine [generated in 0.21360s] {}
2023-11-15 23:21:50,022 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('27','1011','2024','主演')
2023-11-15 23:21:50,023 INFO sqlalchemy.engine.Engine [generated in 0.20923s] {}
2023-11-15 23:21:50,444 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('28','1012','2025','导演')
2023-11-15 23:21:50,445 INFO sqlalchemy.engine.Engine [generated in 0.21033s] {}
2023-11-15 23:21:50,870 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('29','1012','2026','主演')
2023-11-15 23:21:50,871 INFO sqlalchemy.engine.Engine [generated in 0.21188s] {}
2023-11-15 23:21:51,292 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('30','1012','2027','主演')
2023-11-15 23:21:51,293 INFO sqlalchemy.engine.Engine [generated in 0.20954s] {}
2023-11-15 23:21:51,711 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('31','1012','2028','主演')
2023-11-15 23:21:51,712 INFO sqlalchemy.engine.Engine [generated in 0.20958s] {}
2023-11-15 23:21:52,988 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('32','1013','2029','导演')
2023-11-15 23:21:52,989 INFO sqlalchemy.engine.Engine [generated in 0.64846s] {}
2023-11-15 23:21:53,406 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('33','1013','2030','主演')
2023-11-15 23:21:53,407 INFO sqlalchemy.engine.Engine [generated in 0.20885s] {}
2023-11-15 23:21:53,824 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('34','1013','2009','主演')
2023-11-15 23:21:53,825 INFO sqlalchemy.engine.Engine [generated in 0.20876s] {}
2023-11-15 23:21:54,247 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('35','1013','2031','主演')
2023-11-15 23:21:54,248 INFO sqlalchemy.engine.Engine [generated in 0.21050s] {}
2023-11-15 23:21:54,668 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('36','1015','2032','导演')
2023-11-15 23:21:54,669 INFO sqlalchemy.engine.Engine [generated in 0.21111s] {}
2023-11-15 23:21:55,087 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('37','1015','2015','导演')
2023-11-15 23:21:55,088 INFO sqlalchemy.engine.Engine [generated in 0.20961s] {}
2023-11-15 23:21:55,506 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('38','1015','2011','导演')
2023-11-15 23:21:55,508 INFO sqlalchemy.engine.Engine [generated in 0.20909s] {}
2023-11-15 23:21:55,928 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('39','1015','2015','主演')
2023-11-15 23:21:55,929 INFO sqlalchemy.engine.Engine [generated in 0.21010s] {}
2023-11-15 23:21:56,348 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('40','1015','2033','主演')
2023-11-15 23:21:56,349 INFO sqlalchemy.engine.Engine [generated in 0.21138s] {}
2023-11-15 23:21:56,787 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('41','1015','2034','主演')
2023-11-15 23:21:56,789 INFO sqlalchemy.engine.Engine [generated in 0.22946s] {}
2023-11-15 23:21:57,208 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('42','1016','2035','导演')
2023-11-15 23:21:57,209 INFO sqlalchemy.engine.Engine [generated in 0.20986s] {}
2023-11-15 23:21:58,057 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('43','1016','2035','主演')
2023-11-15 23:21:58,058 INFO sqlalchemy.engine.Engine [generated in 0.21012s] {}
2023-11-15 23:21:58,476 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('44','1016','2036','主演')
2023-11-15 23:21:58,478 INFO sqlalchemy.engine.Engine [generated in 0.20959s] {}
2023-11-15 23:21:58,898 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('45','1016','2022','主演')
2023-11-15 23:21:58,899 INFO sqlalchemy.engine.Engine [generated in 0.21039s] {}
2023-11-15 23:21:59,733 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('46','1017','2037','导演')
2023-11-15 23:21:59,734 INFO sqlalchemy.engine.Engine [generated in 0.62598s] {}
2023-11-15 23:22:00,590 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('47','1017','2038','导演')
2023-11-15 23:22:00,591 INFO sqlalchemy.engine.Engine [generated in 0.21050s] {}
2023-11-15 23:22:01,014 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('48','1017','2008','导演')
2023-11-15 23:22:01,015 INFO sqlalchemy.engine.Engine [generated in 0.21399s] {}
2023-11-15 23:22:01,439 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('49','1017','2001','主演')
2023-11-15 23:22:01,441 INFO sqlalchemy.engine.Engine [generated in 0.21028s] {}
2023-11-15 23:22:01,863 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('50','1017','2039','主演')
2023-11-15 23:22:01,864 INFO sqlalchemy.engine.Engine [generated in 0.21255s] {}
2023-11-15 23:22:02,708 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('51','1018','2040','导演')
2023-11-15 23:22:02,709 INFO sqlalchemy.engine.Engine [generated in 0.63395s] {}
2023-11-15 23:22:03,130 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('52','1018','2019','主演')
2023-11-15 23:22:03,131 INFO sqlalchemy.engine.Engine [generated in 0.21119s] {}
2023-11-15 23:22:03,557 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('53','1018','2041','主演')
2023-11-15 23:22:03,558 INFO sqlalchemy.engine.Engine [generated in 0.20926s] {}
2023-11-15 23:22:03,977 INFO sqlalchemy.engine.Engine
2023-11-15 23:22:03,977 INFO sqlalchemy.engine.Engine [cached since 66.07s ago] {}
2023-11-15 23:22:03,978 INFO sqlalchemy.engine.Engine COMMIT

### Create Relationship table for Actors

In [6]:
sql_script = """
DROP TABLE IF EXISTS movie_actor_association;

CREATE TABLE movie_actor_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="主演";

"""
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:22:04,407 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:22:04,622 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_actor_association
2023-11-15 23:22:04,625 INFO sqlalchemy.engine.Engine [generated in 0.21568s] {}
2023-11-15 23:22:05,088 INFO sqlalchemy.engine.Engine CREATE TABLE movie_actor_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="主演"
2023-11-15 23:22:05,091 INFO sqlalchemy.engine.Engine [generated in 0.21471s] {}
2023-11-15 23:22:05,653 INFO sqlalchemy.engine.Engine
2023-11-15 23:22:05,655 INFO sqlalchemy.engine.Engine [cached since 67.74s ago] {}
2023-11-15 23:22:05,658 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
sql_script = """
DROP TABLE IF EXISTS movie_director_association;

CREATE TABLE movie_director_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="导演";
"""
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-15 23:22:06,100 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:22:06,315 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_director_association
2023-11-15 23:22:06,317 INFO sqlalchemy.engine.Engine [generated in 0.21280s] {}
2023-11-15 23:22:06,793 INFO sqlalchemy.engine.Engine CREATE TABLE movie_director_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="导演"
2023-11-15 23:22:06,794 INFO sqlalchemy.engine.Engine [generated in 0.21135s] {}
2023-11-15 23:22:07,380 INFO sqlalchemy.engine.Engine
2023-11-15 23:22:07,381 INFO sqlalchemy.engine.Engine [cached since 69.47s ago] {}
2023-11-15 23:22:07,382 INFO sqlalchemy.engine.Engine COMMIT

In [8]:

query = query_text("SELECT * FROM movie_info;")
db.session.execute(query).fetchall()

2023-11-15 23:22:07,811 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-15 23:22:08,025 INFO sqlalchemy.engine.Engine SELECT * FROM movie_info;
2023-11-15 23:22:08,028 INFO sqlalchemy.engine.Engine [generated in 0.21319s] {}

[(1001, '战狼2', datetime.datetime(2017, 7, 27, 0, 0), '中国', '战争', 2017),
 (1002, '哪吒之魔童降世', datetime.datetime(2019, 7, 26, 0, 0), '中国', '动画', 2019),
 (1003, '流浪地球', datetime.datetime(2019, 2, 5, 0, 0), '中国', '科幻', 2019),
 (1004, '复仇者联盟4', datetime.datetime(2019, 4, 24, 0, 0), '美国', '科幻', 2019),
 (1005, '红海行动', datetime.datetime(2018, 2, 16, 0, 0), '中国', '战争', 2018),
 (1006, '唐人街探案2', datetime.datetime(2018, 2, 16, 0, 0), '中国', '喜剧', 2018),
 (1007, '我不是药神', datetime.datetime(2018, 7, 5, 0, 0), '中国', '喜剧', 2018),
 (1008, '中国机长', datetime.datetime(2019, 9, 30, 0, 0), '中国', '剧情', 2019),
 (1009, '速度与激情8', datetime.datetime(2017, 4, 14, 0, 0), '美国', '动作', 2017),
 (1010, '西虹市首富', datetime.datetime(2018, 7, 27, 0, 0), '中国', '喜剧', 2018),
 (1011, '复仇者联盟3', datetime.datetime(2018, 5, 11, 0, 0), '美国', '科幻', 2018),
 (1012, '捉妖记2', datetime.datetime(2018, 2, 16, 0, 0), '中国', '喜剧', 2018),
 (1013, '八佰', datetime.datetime(2020, 8, 21, 0, 0), '中国', '战争', 2020),
 (1014, '姜子牙', datetime.datetime(2020, 10, 1, 0, 0), '中国', '动画', 2020),
 (1015, '我和我的家乡', datetime.datetime(2020, 10, 1, 0, 0), '中国', '剧情', 2020),
 (1016, '你好，李焕英', datetime.datetime(2021, 2, 12, 0, 0), '中国', '喜剧', 2021),
 (1017, '长津湖', datetime.datetime(2021, 9, 30, 0, 0), '中国', '战争', 2021),
 (1018, '速度与激情9', datetime.datetime(2021, 5, 21, 0, 0), '中国', '动作', 2021)]

In [9]:
query = query_text("SELECT * FROM movie_actor_association;")
db.session.execute(query).fetchall()

2023-11-15 23:22:09,567 INFO sqlalchemy.engine.Engine SELECT * FROM movie_actor_association;
2023-11-15 23:22:09,571 INFO sqlalchemy.engine.Engine [generated in 0.64357s] {}

[(1001, 2001),
 (1005, 2009),
 (1005, 2010),
 (1006, 2012),
 (1006, 2013),
 (1007, 2015),
 (1008, 2017),
 (1009, 2019),
 (1009, 2020),
 (1010, 2022),
 (1011, 2006),
 (1011, 2024),
 (1012, 2026),
 (1012, 2027),
 (1012, 2028),
 (1013, 2030),
 (1013, 2009),
 (1013, 2031),
 (1015, 2015),
 (1003, 2001),
 (1015, 2033),
 (1015, 2034),
 (1016, 2035),
 (1016, 2036),
 (1016, 2022),
 (1017, 2001),
 (1003, 2003),
 (1017, 2039),
 (1018, 2019),
 (1018, 2041),
 (1004, 2006),
 (1004, 2007)]