In [7]:
from flask import Flask 
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import text as query_text
from sqlalchemy.sql import func


app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+mysqlconnector://karibu:123456@39.107.102.193:3306/movie'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False 
app.config['SQLALCHEMY_ECHO'] = True
app.app_context().push()

db = SQLAlchemy(app)

### Create the database and input data from SQL file

In [8]:
sql_script = ("""
DROP TABLE IF EXISTS movie_info;

CREATE TABLE IF NOT EXISTS movie_info (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_name VARCHAR(20) NOT NULL,
    release_date DATETIME,
    country VARCHAR(20),
    movie_type VARCHAR(10),
    release_year INT CHECK (release_year >= 1000 AND release_year <= 2100)
);


insert into movie_info
values('1001','战狼2','2017/7/27','中国','战争','2017');

insert into movie_info
values('1002','哪吒之魔童降世','2019/7/26','中国','动画','2019');

insert into movie_info
values('1003','流浪地球','2019/2/5','中国','科幻','2019');

insert into movie_info
values('1004','复仇者联盟4','2019/4/24','美国','科幻','2019');

insert into movie_info
values('1005','红海行动','2018/2/16','中国','战争','2018');

insert into movie_info
values('1006','唐人街探案2','2018/2/16','中国','喜剧','2018');

insert into movie_info
values('1007','我不是药神','2018/7/5','中国','喜剧','2018');

insert into movie_info
values('1008','中国机长','2019/9/30','中国','剧情','2019');

insert into movie_info
values('1009','速度与激情8','2017/4/14','美国','动作','2017');

insert into movie_info
values('1010','西虹市首富','2018/7/27','中国','喜剧','2018');

insert into movie_info
values('1011','复仇者联盟3','2018/5/11','美国','科幻','2018');

insert into movie_info
values('1012','捉妖记2','2018/2/16','中国','喜剧','2018');

insert into movie_info
values('1013','八佰','2020/08/21','中国','战争','2020');

insert into movie_info
values('1014','姜子牙','2020/10/01','中国','动画','2020');

insert into movie_info
values('1015','我和我的家乡','2020/10/01','中国','剧情','2020');

insert into movie_info
values('1016','你好，李焕英','2021/02/12','中国','喜剧','2021');

insert into movie_info
values('1017','长津湖','2021/09/30','中国','战争','2021');

insert into movie_info
values('1018','速度与激情9','2021/05/21','中国','动作','2021');
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:27,353 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-11-20 18:09:27,354 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-20 18:09:27,469 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-11-20 18:09:27,470 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-20 18:09:27,528 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-11-20 18:09:27,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-20 18:09:27,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:27,619 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_info
2023-11-20 18:09:27,620 INFO sqlalchemy.engine.Engine [generated in 0.02934s] {}
2023-11-20 18:09:27,688 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_info (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_name VARCHAR(20) NOT NULL,
    release_date DATETIME,
    country VARCHAR(20),
    movie_type VARCHAR(10),
    release_year INT CHECK (release_year >= 1000 AND release_year <= 2100)
)
2023-11-20 18:09:27,688 INFO sqlalchemy.engine.Engine [generated in 0.03035s] {}
2023-11-20 18:09:27,765 INFO sqlalchemy.engine.Engine insert into movie_info
values('1001','战狼2','2017/7/27','中国','战争','2017')
2023-11-20 18:09:27,767 INFO sqlalchemy.engine.Engine [generated in 0.03025s] {}
2023-11-20 18:09:27,834 INFO sqlalchemy.engine.Engine insert into movie_info
values('1002','哪吒之魔童降世','2019/7/26','中国','动画','2019')
2023-11-20 18:09:27,835 INFO sqlalchemy.engine.Engine [generated in 0.03047s] {}
2023-11-20 18:09:27,895 INFO sqlalchemy.engine.Engine insert into movie_info
values('1003','流浪地球','2019/2/5','中国','科幻','2019')
2023-11-20 18:09:27,896 INFO sqlalchemy.engine.Engine [generated in 0.03029s] {}
2023-11-20 18:09:27,956 INFO sqlalchemy.engine.Engine insert into movie_info
values('1004','复仇者联盟4','2019/4/24','美国','科幻','2019')
2023-11-20 18:09:27,957 INFO sqlalchemy.engine.Engine [generated in 0.03043s] {}
2023-11-20 18:09:28,017 INFO sqlalchemy.engine.Engine insert into movie_info
values('1005','红海行动','2018/2/16','中国','战争','2018')
2023-11-20 18:09:28,018 INFO sqlalchemy.engine.Engine [generated in 0.03012s] {}
2023-11-20 18:09:28,081 INFO sqlalchemy.engine.Engine insert into movie_info
values('1006','唐人街探案2','2018/2/16','中国','喜剧','2018')
2023-11-20 18:09:28,082 INFO sqlalchemy.engine.Engine [generated in 0.03105s] {}
2023-11-20 18:09:28,143 INFO sqlalchemy.engine.Engine insert into movie_info
values('1007','我不是药神','2018/7/5','中国','喜剧','2018')
2023-11-20 18:09:28,144 INFO sqlalchemy.engine.Engine [generated in 0.02966s] {}
2023-11-20 18:09:28,203 INFO sqlalchemy.engine.Engine insert into movie_info
values('1008','中国机长','2019/9/30','中国','剧情','2019')
2023-11-20 18:09:28,204 INFO sqlalchemy.engine.Engine [generated in 0.02971s] {}
2023-11-20 18:09:28,268 INFO sqlalchemy.engine.Engine insert into movie_info
values('1009','速度与激情8','2017/4/14','美国','动作','2017')
2023-11-20 18:09:28,269 INFO sqlalchemy.engine.Engine [generated in 0.03330s] {}
2023-11-20 18:09:28,331 INFO sqlalchemy.engine.Engine insert into movie_info
values('1010','西虹市首富','2018/7/27','中国','喜剧','2018')
2023-11-20 18:09:28,332 INFO sqlalchemy.engine.Engine [generated in 0.02966s] {}
2023-11-20 18:09:28,392 INFO sqlalchemy.engine.Engine insert into movie_info
values('1011','复仇者联盟3','2018/5/11','美国','科幻','2018')
2023-11-20 18:09:28,393 INFO sqlalchemy.engine.Engine [generated in 0.03019s] {}
2023-11-20 18:09:28,455 INFO sqlalchemy.engine.Engine insert into movie_info
values('1012','捉妖记2','2018/2/16','中国','喜剧','2018')
2023-11-20 18:09:28,456 INFO sqlalchemy.engine.Engine [generated in 0.02992s] {}
2023-11-20 18:09:28,515 INFO sqlalchemy.engine.Engine insert into movie_info
values('1013','八佰','2020/08/21','中国','战争','2020')
2023-11-20 18:09:28,517 INFO sqlalchemy.engine.Engine [generated in 0.02999s] {}
2023-11-20 18:09:28,579 INFO sqlalchemy.engine.Engine insert into movie_info
values('1014','姜子牙','2020/10/01','中国','动画','2020')
2023-11-20 18:09:28,581 INFO sqlalchemy.engine.Engine [generated in 0.03240s] {}
2023-11-20 18:09:28,645 INFO sqlalchemy.engine.Engine insert into movie_info
values('1015','我和我的家乡','2020/10/01','中国','剧情','2020')
2023-11-20 18:09:28,646 INFO sqlalchemy.engine.Engine [generated in 0.02973s] {}
2023-11-20 18:09:28,707 INFO sqlalchemy.engine.Engine insert into movie_info
values('1016','你好，李焕英','2021/02/12','中国','喜剧','2021')
2023-11-20 18:09:28,708 INFO sqlalchemy.engine.Engine [generated in 0.02972s] {}
2023-11-20 18:09:28,766 INFO sqlalchemy.engine.Engine insert into movie_info
values('1017','长津湖','2021/09/30','中国','战争','2021')
2023-11-20 18:09:28,768 INFO sqlalchemy.engine.Engine [generated in 0.02977s] {}
2023-11-20 18:09:28,826 INFO sqlalchemy.engine.Engine insert into movie_info
values('1018','速度与激情9','2021/05/21','中国','动作','2021')
2023-11-20 18:09:28,827 INFO sqlalchemy.engine.Engine [generated in 0.02978s] {}
2023-11-20 18:09:28,887 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:28,888 INFO sqlalchemy.engine.Engine [generated in 0.03146s] {}
2023-11-20 18:09:28,889 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
sql_script = ("""
DROP TABLE IF EXISTS movie_box;

CREATE TABLE IF NOT EXISTS movie_box (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_box float
);

insert into movie_box
values('1001',56.84);

insert into movie_box
values('1002',50.15);

insert into movie_box
values('1003',46.86);

insert into movie_box
values('1004',42.5);

insert into movie_box
values('1005',36.5);

insert into movie_box
values('1006',33.97);

insert into movie_box
values('1007',31);

insert into movie_box
values('1008',29.12);

insert into movie_box
values('1009',26.7);

insert into movie_box
values('1010',25.47);

insert into movie_box
values('1011',23.9);

insert into movie_box
values('1012',22.37);

insert into movie_box
values('1013',30.10);

insert into movie_box
values('1014',16.02);

insert into movie_box
values('1015',28.29);

insert into movie_box
values('1016',54.13);

insert into movie_box
values('1017',53.48);

insert into movie_box
values('1018',13.92);
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:33,676 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:33,719 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_box
2023-11-20 18:09:33,723 INFO sqlalchemy.engine.Engine [generated in 0.04518s] {}
2023-11-20 18:09:33,801 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_box (
    movie_id INT AUTO_INCREMENT PRIMARY KEY,
    movie_box float
)
2023-11-20 18:09:33,802 INFO sqlalchemy.engine.Engine [generated in 0.03311s] {}
2023-11-20 18:09:33,880 INFO sqlalchemy.engine.Engine insert into movie_box
values('1001',56.84)
2023-11-20 18:09:33,881 INFO sqlalchemy.engine.Engine [generated in 0.02963s] {}
2023-11-20 18:09:33,940 INFO sqlalchemy.engine.Engine insert into movie_box
values('1002',50.15)
2023-11-20 18:09:33,941 INFO sqlalchemy.engine.Engine [generated in 0.03001s] {}
2023-11-20 18:09:34,000 INFO sqlalchemy.engine.Engine insert into movie_box
values('1003',46.86)
2023-11-20 18:09:34,001 INFO sqlalchemy.engine.Engine [generated in 0.02958s] {}
2023-11-20 18:09:34,059 INFO sqlalchemy.engine.Engine insert into movie_box
values('1004',42.5)
2023-11-20 18:09:34,060 INFO sqlalchemy.engine.Engine [generated in 0.02902s] {}
2023-11-20 18:09:34,119 INFO sqlalchemy.engine.Engine insert into movie_box
values('1005',36.5)
2023-11-20 18:09:34,120 INFO sqlalchemy.engine.Engine [generated in 0.02986s] {}
2023-11-20 18:09:34,178 INFO sqlalchemy.engine.Engine insert into movie_box
values('1006',33.97)
2023-11-20 18:09:34,179 INFO sqlalchemy.engine.Engine [generated in 0.03007s] {}
2023-11-20 18:09:34,238 INFO sqlalchemy.engine.Engine insert into movie_box
values('1007',31)
2023-11-20 18:09:34,239 INFO sqlalchemy.engine.Engine [generated in 0.02997s] {}
2023-11-20 18:09:34,300 INFO sqlalchemy.engine.Engine insert into movie_box
values('1008',29.12)
2023-11-20 18:09:34,301 INFO sqlalchemy.engine.Engine [generated in 0.02875s] {}
2023-11-20 18:09:34,360 INFO sqlalchemy.engine.Engine insert into movie_box
values('1009',26.7)
2023-11-20 18:09:34,361 INFO sqlalchemy.engine.Engine [generated in 0.03032s] {}
2023-11-20 18:09:34,419 INFO sqlalchemy.engine.Engine insert into movie_box
values('1010',25.47)
2023-11-20 18:09:34,421 INFO sqlalchemy.engine.Engine [generated in 0.03017s] {}
2023-11-20 18:09:34,479 INFO sqlalchemy.engine.Engine insert into movie_box
values('1011',23.9)
2023-11-20 18:09:34,480 INFO sqlalchemy.engine.Engine [generated in 0.02927s] {}
2023-11-20 18:09:34,539 INFO sqlalchemy.engine.Engine insert into movie_box
values('1012',22.37)
2023-11-20 18:09:34,540 INFO sqlalchemy.engine.Engine [generated in 0.02998s] {}
2023-11-20 18:09:34,601 INFO sqlalchemy.engine.Engine insert into movie_box
values('1013',30.10)
2023-11-20 18:09:34,601 INFO sqlalchemy.engine.Engine [generated in 0.02963s] {}
2023-11-20 18:09:34,660 INFO sqlalchemy.engine.Engine insert into movie_box
values('1014',16.02)
2023-11-20 18:09:34,661 INFO sqlalchemy.engine.Engine [generated in 0.02972s] {}
2023-11-20 18:09:34,720 INFO sqlalchemy.engine.Engine insert into movie_box
values('1015',28.29)
2023-11-20 18:09:34,721 INFO sqlalchemy.engine.Engine [generated in 0.02974s] {}
2023-11-20 18:09:34,781 INFO sqlalchemy.engine.Engine insert into movie_box
values('1016',54.13)
2023-11-20 18:09:34,782 INFO sqlalchemy.engine.Engine [generated in 0.02956s] {}
2023-11-20 18:09:34,841 INFO sqlalchemy.engine.Engine insert into movie_box
values('1017',53.48)
2023-11-20 18:09:34,843 INFO sqlalchemy.engine.Engine [generated in 0.03022s] {}
2023-11-20 18:09:34,901 INFO sqlalchemy.engine.Engine insert into movie_box
values('1018',13.92)
2023-11-20 18:09:34,902 INFO sqlalchemy.engine.Engine [generated in 0.02974s] {}
2023-11-20 18:09:34,961 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:34,962 INFO sqlalchemy.engine.Engine [cached since 6.105s ago] {}
2023-11-20 18:09:34,963 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
sql_script = ("""
DROP TABLE IF EXISTS actor_info;

CREATE TABLE IF NOT EXISTS actor_info (
 actor_id INT AUTO_INCREMENT PRIMARY KEY,
 actor_name varchar(20) Not Null,
 gender varchar(2) Not Null,
 country varchar(20)
);

insert into actor_info
values('2001','吴京','男','中国');

insert into actor_info
values('2002','饺子','男','中国');

insert into actor_info
values('2003','屈楚萧','男','中国');

insert into actor_info
values('2004','郭帆','男','中国');

insert into actor_info
values('2005','乔罗素','男','美国');

insert into actor_info
values('2006','小罗伯特·唐尼','男','美国');

insert into actor_info
values('2007','克里斯·埃文斯','男','美国');

insert into actor_info
values('2008','林超贤','男','中国');

insert into actor_info
values('2009','张译','男','中国');

insert into actor_info
values('2010','黄景瑜','男','中国');

insert into actor_info
values('2011','陈思诚','男','中国');

insert into actor_info
values('2012','王宝强','男','中国');

insert into actor_info
values('2013','刘昊然','男','中国');

insert into actor_info
values('2014','文牧野','男','中国');

insert into actor_info
values('2015','徐峥','男','中国');

insert into actor_info
values('2016','刘伟强','男','中国');

insert into actor_info
values('2017','张涵予','男','中国');

insert into actor_info
values('2018','F·加里·格雷','男','美国');

insert into actor_info
values('2019','范·迪塞尔','男','美国');

insert into actor_info
values('2020','杰森·斯坦森','男','美国');

insert into actor_info
values('2021','闫非','男','中国');

insert into actor_info
values('2022','沈腾','男','中国');

insert into actor_info
values('2023','安东尼·罗素','男','美国');

insert into actor_info
values('2024','克里斯·海姆斯沃斯','男','美国');

insert into actor_info
values('2025','许诚毅','男','中国');

insert into actor_info
values('2026','梁朝伟','男','中国');

insert into actor_info
values('2027','白百何','女','中国');

insert into actor_info
values('2028','井柏然','男','中国');

insert into actor_info
values('2029','管虎','男','中国');

insert into actor_info
values('2030','王千源','男','中国');

insert into actor_info
values('2031','姜武','男','中国');

insert into actor_info
values('2032','宁浩','男','中国');

insert into actor_info
values('2033','葛优','男','中国');

insert into actor_info
values('2034','范伟','男','中国');

insert into actor_info
values('2035','贾玲','女','中国');

insert into actor_info
values('2036','张小斐','女','中国');

insert into actor_info
values('2037','陈凯歌','男','中国');

insert into actor_info
values('2038','徐克','男','中国');

insert into actor_info
values('2039','易烊千玺','男','中国');

insert into actor_info
values('2040','林诣彬','男','美国');

insert into actor_info
values('2041','米歇尔·罗德里格兹','女','美国');
""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:37,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:37,560 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS actor_info
2023-11-20 18:09:37,561 INFO sqlalchemy.engine.Engine [generated in 0.03135s] {}
2023-11-20 18:09:37,639 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS actor_info (
 actor_id INT AUTO_INCREMENT PRIMARY KEY,
 actor_name varchar(20) Not Null,
 gender varchar(2) Not Null,
 country varchar(20)
)
2023-11-20 18:09:37,641 INFO sqlalchemy.engine.Engine [generated in 0.03964s] {}
2023-11-20 18:09:37,719 INFO sqlalchemy.engine.Engine insert into actor_info
values('2001','吴京','男','中国')
2023-11-20 18:09:37,720 INFO sqlalchemy.engine.Engine [generated in 0.02942s] {}
2023-11-20 18:09:37,779 INFO sqlalchemy.engine.Engine insert into actor_info
values('2002','饺子','男','中国')
2023-11-20 18:09:37,780 INFO sqlalchemy.engine.Engine [generated in 0.02895s] {}
2023-11-20 18:09:37,838 INFO sqlalchemy.engine.Engine insert into actor_info
values('2003','屈楚萧','男','中国')
2023-11-20 18:09:37,839 INFO sqlalchemy.engine.Engine [generated in 0.02994s] {}
2023-11-20 18:09:37,899 INFO sqlalchemy.engine.Engine insert into actor_info
values('2004','郭帆','男','中国')
2023-11-20 18:09:37,900 INFO sqlalchemy.engine.Engine [generated in 0.02966s] {}
2023-11-20 18:09:37,959 INFO sqlalchemy.engine.Engine insert into actor_info
values('2005','乔罗素','男','美国')
2023-11-20 18:09:37,960 INFO sqlalchemy.engine.Engine [generated in 0.02933s] {}
2023-11-20 18:09:38,018 INFO sqlalchemy.engine.Engine insert into actor_info
values('2006','小罗伯特·唐尼','男','美国')
2023-11-20 18:09:38,019 INFO sqlalchemy.engine.Engine [generated in 0.02955s] {}
2023-11-20 18:09:38,079 INFO sqlalchemy.engine.Engine insert into actor_info
values('2007','克里斯·埃文斯','男','美国')
2023-11-20 18:09:38,079 INFO sqlalchemy.engine.Engine [generated in 0.02984s] {}
2023-11-20 18:09:38,139 INFO sqlalchemy.engine.Engine insert into actor_info
values('2008','林超贤','男','中国')
2023-11-20 18:09:38,141 INFO sqlalchemy.engine.Engine [generated in 0.03104s] {}
2023-11-20 18:09:38,198 INFO sqlalchemy.engine.Engine insert into actor_info
values('2009','张译','男','中国')
2023-11-20 18:09:38,199 INFO sqlalchemy.engine.Engine [generated in 0.02883s] {}
2023-11-20 18:09:38,258 INFO sqlalchemy.engine.Engine insert into actor_info
values('2010','黄景瑜','男','中国')
2023-11-20 18:09:38,259 INFO sqlalchemy.engine.Engine [generated in 0.02954s] {}
2023-11-20 18:09:38,319 INFO sqlalchemy.engine.Engine insert into actor_info
values('2011','陈思诚','男','中国')
2023-11-20 18:09:38,320 INFO sqlalchemy.engine.Engine [generated in 0.03033s] {}
2023-11-20 18:09:38,379 INFO sqlalchemy.engine.Engine insert into actor_info
values('2012','王宝强','男','中国')
2023-11-20 18:09:38,381 INFO sqlalchemy.engine.Engine [generated in 0.02976s] {}
2023-11-20 18:09:38,441 INFO sqlalchemy.engine.Engine insert into actor_info
values('2013','刘昊然','男','中国')
2023-11-20 18:09:38,442 INFO sqlalchemy.engine.Engine [generated in 0.03032s] {}
2023-11-20 18:09:38,504 INFO sqlalchemy.engine.Engine insert into actor_info
values('2014','文牧野','男','中国')
2023-11-20 18:09:38,505 INFO sqlalchemy.engine.Engine [generated in 0.03103s] {}
2023-11-20 18:09:38,565 INFO sqlalchemy.engine.Engine insert into actor_info
values('2015','徐峥','男','中国')
2023-11-20 18:09:38,567 INFO sqlalchemy.engine.Engine [generated in 0.03017s] {}
2023-11-20 18:09:38,628 INFO sqlalchemy.engine.Engine insert into actor_info
values('2016','刘伟强','男','中国')
2023-11-20 18:09:38,629 INFO sqlalchemy.engine.Engine [generated in 0.02963s] {}
2023-11-20 18:09:38,689 INFO sqlalchemy.engine.Engine insert into actor_info
values('2017','张涵予','男','中国')
2023-11-20 18:09:38,690 INFO sqlalchemy.engine.Engine [generated in 0.03141s] {}
2023-11-20 18:09:38,750 INFO sqlalchemy.engine.Engine insert into actor_info
values('2018','F·加里·格雷','男','美国')
2023-11-20 18:09:38,751 INFO sqlalchemy.engine.Engine [generated in 0.02982s] {}
2023-11-20 18:09:38,811 INFO sqlalchemy.engine.Engine insert into actor_info
values('2019','范·迪塞尔','男','美国')
2023-11-20 18:09:38,812 INFO sqlalchemy.engine.Engine [generated in 0.02974s] {}
2023-11-20 18:09:38,870 INFO sqlalchemy.engine.Engine insert into actor_info
values('2020','杰森·斯坦森','男','美国')
2023-11-20 18:09:38,871 INFO sqlalchemy.engine.Engine [generated in 0.02916s] {}
2023-11-20 18:09:38,930 INFO sqlalchemy.engine.Engine insert into actor_info
values('2021','闫非','男','中国')
2023-11-20 18:09:38,931 INFO sqlalchemy.engine.Engine [generated in 0.02925s] {}
2023-11-20 18:09:38,991 INFO sqlalchemy.engine.Engine insert into actor_info
values('2022','沈腾','男','中国')
2023-11-20 18:09:38,992 INFO sqlalchemy.engine.Engine [generated in 0.03049s] {}
2023-11-20 18:09:39,054 INFO sqlalchemy.engine.Engine insert into actor_info
values('2023','安东尼·罗素','男','美国')
2023-11-20 18:09:39,055 INFO sqlalchemy.engine.Engine [generated in 0.03082s] {}
2023-11-20 18:09:39,114 INFO sqlalchemy.engine.Engine insert into actor_info
values('2024','克里斯·海姆斯沃斯','男','美国')
2023-11-20 18:09:39,115 INFO sqlalchemy.engine.Engine [generated in 0.03021s] {}
2023-11-20 18:09:39,175 INFO sqlalchemy.engine.Engine insert into actor_info
values('2025','许诚毅','男','中国')
2023-11-20 18:09:39,176 INFO sqlalchemy.engine.Engine [generated in 0.02903s] {}
2023-11-20 18:09:39,235 INFO sqlalchemy.engine.Engine insert into actor_info
values('2026','梁朝伟','男','中国')
2023-11-20 18:09:39,236 INFO sqlalchemy.engine.Engine [generated in 0.02912s] {}
2023-11-20 18:09:39,294 INFO sqlalchemy.engine.Engine insert into actor_info
values('2027','白百何','女','中国')
2023-11-20 18:09:39,295 INFO sqlalchemy.engine.Engine [generated in 0.02945s] {}
2023-11-20 18:09:39,353 INFO sqlalchemy.engine.Engine insert into actor_info
values('2028','井柏然','男','中国')
2023-11-20 18:09:39,354 INFO sqlalchemy.engine.Engine [generated in 0.02956s] {}
2023-11-20 18:09:39,414 INFO sqlalchemy.engine.Engine insert into actor_info
values('2029','管虎','男','中国')
2023-11-20 18:09:39,416 INFO sqlalchemy.engine.Engine [generated in 0.03100s] {}
2023-11-20 18:09:39,494 INFO sqlalchemy.engine.Engine insert into actor_info
values('2030','王千源','男','中国')
2023-11-20 18:09:39,495 INFO sqlalchemy.engine.Engine [generated in 0.03128s] {}
2023-11-20 18:09:39,555 INFO sqlalchemy.engine.Engine insert into actor_info
values('2031','姜武','男','中国')
2023-11-20 18:09:39,556 INFO sqlalchemy.engine.Engine [generated in 0.02881s] {}
2023-11-20 18:09:39,615 INFO sqlalchemy.engine.Engine insert into actor_info
values('2032','宁浩','男','中国')
2023-11-20 18:09:39,617 INFO sqlalchemy.engine.Engine [generated in 0.03147s] {}
2023-11-20 18:09:39,679 INFO sqlalchemy.engine.Engine insert into actor_info
values('2033','葛优','男','中国')
2023-11-20 18:09:39,680 INFO sqlalchemy.engine.Engine [generated in 0.03090s] {}
2023-11-20 18:09:39,741 INFO sqlalchemy.engine.Engine insert into actor_info
values('2034','范伟','男','中国')
2023-11-20 18:09:39,745 INFO sqlalchemy.engine.Engine [generated in 0.03451s] {}
2023-11-20 18:09:39,805 INFO sqlalchemy.engine.Engine insert into actor_info
values('2035','贾玲','女','中国')
2023-11-20 18:09:39,806 INFO sqlalchemy.engine.Engine [generated in 0.03019s] {}
2023-11-20 18:09:39,866 INFO sqlalchemy.engine.Engine insert into actor_info
values('2036','张小斐','女','中国')
2023-11-20 18:09:39,867 INFO sqlalchemy.engine.Engine [generated in 0.03009s] {}
2023-11-20 18:09:39,928 INFO sqlalchemy.engine.Engine insert into actor_info
values('2037','陈凯歌','男','中国')
2023-11-20 18:09:39,929 INFO sqlalchemy.engine.Engine [generated in 0.03127s] {}
2023-11-20 18:09:39,988 INFO sqlalchemy.engine.Engine insert into actor_info
values('2038','徐克','男','中国')
2023-11-20 18:09:39,989 INFO sqlalchemy.engine.Engine [generated in 0.02988s] {}
2023-11-20 18:09:40,048 INFO sqlalchemy.engine.Engine insert into actor_info
values('2039','易烊千玺','男','中国')
2023-11-20 18:09:40,049 INFO sqlalchemy.engine.Engine [generated in 0.02929s] {}
2023-11-20 18:09:40,114 INFO sqlalchemy.engine.Engine insert into actor_info
values('2040','林诣彬','男','美国')
2023-11-20 18:09:40,115 INFO sqlalchemy.engine.Engine [generated in 0.03011s] {}
2023-11-20 18:09:40,176 INFO sqlalchemy.engine.Engine insert into actor_info
values('2041','米歇尔·罗德里格兹','女','美国')
2023-11-20 18:09:40,178 INFO sqlalchemy.engine.Engine [generated in 0.03184s] {}
2023-11-20 18:09:40,238 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:40,239 INFO sqlalchemy.engine.Engine [cached since 11.38s ago] {}
2023-11-20 18:09:40,240 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
sql_script = ("""
DROP TABLE IF EXISTS movie_actor_relation;
CREATE TABLE IF NOT EXISTS movie_actor_relation
( 
 id varchar(10) Not Null,
 movie_id INT Not Null,
 actor_id INT Not Null,
 relation_type varchar(20),
 primary key(id)
);


insert into movie_actor_relation
values('1','1001','2001','主演');

insert into movie_actor_relation
values('2','1001','2001','导演');

insert into movie_actor_relation
values('3','1002','2002','导演');

insert into movie_actor_relation
values('4','1003','2001','主演');

insert into movie_actor_relation
values('5','1003','2003','主演');

insert into movie_actor_relation
values('6','1003','2004','导演');

insert into movie_actor_relation
values('7','1004','2005','导演');

insert into movie_actor_relation
values('8','1004','2006','主演');

insert into movie_actor_relation
values('9','1004','2007','主演');

insert into movie_actor_relation
values('10','1005','2008','导演');

insert into movie_actor_relation
values('11','1005','2009','主演');

insert into movie_actor_relation
values('12','1005','2010','主演');

insert into movie_actor_relation
values('13','1006','2011','导演');

insert into movie_actor_relation
values('14','1006','2012','主演');

insert into movie_actor_relation
values('15','1006','2013','主演');

insert into movie_actor_relation
values('16','1007','2014','导演');

insert into movie_actor_relation
values('17','1007','2015','主演');

insert into movie_actor_relation
values('18','1008','2016','导演');

insert into movie_actor_relation
values('19','1008','2017','主演');

insert into movie_actor_relation
values('20','1009','2018','导演');

insert into movie_actor_relation
values('21','1009','2019','主演');

insert into movie_actor_relation
values('22','1009','2020','主演');

insert into movie_actor_relation
values('23','1010','2021','导演');

insert into movie_actor_relation
values('24','1010','2022','主演');

insert into movie_actor_relation
values('25','1011','2023','导演');

insert into movie_actor_relation
values('26','1011','2006','主演');

insert into movie_actor_relation
values('27','1011','2024','主演');

insert into movie_actor_relation
values('28','1012','2025','导演');

insert into movie_actor_relation
values('29','1012','2026','主演');

insert into movie_actor_relation
values('30','1012','2027','主演');

insert into movie_actor_relation
values('31','1012','2028','主演');

insert into movie_actor_relation
values('32','1013','2029','导演');

insert into movie_actor_relation
values('33','1013','2030','主演');

insert into movie_actor_relation
values('34','1013','2009','主演');

insert into movie_actor_relation
values('35','1013','2031','主演');

insert into movie_actor_relation
values('36','1015','2032','导演');

insert into movie_actor_relation
values('37','1015','2015','导演');

insert into movie_actor_relation
values('38','1015','2011','导演');

insert into movie_actor_relation
values('39','1015','2015','主演');

insert into movie_actor_relation
values('40','1015','2033','主演');

insert into movie_actor_relation
values('41','1015','2034','主演');

insert into movie_actor_relation
values('42','1016','2035','导演');

insert into movie_actor_relation
values('43','1016','2035','主演');

insert into movie_actor_relation
values('44','1016','2036','主演');

insert into movie_actor_relation
values('45','1016','2022','主演');

insert into movie_actor_relation
values('46','1017','2037','导演');

insert into movie_actor_relation
values('47','1017','2038','导演');

insert into movie_actor_relation
values('48','1017','2008','导演');

insert into movie_actor_relation
values('49','1017','2001','主演');

insert into movie_actor_relation
values('50','1017','2039','主演');

insert into movie_actor_relation
values('51','1018','2040','导演');

insert into movie_actor_relation
values('52','1018','2019','主演');

insert into movie_actor_relation
values('53','1018','2041','主演');

""")
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:40,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:40,346 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_actor_relation
2023-11-20 18:09:40,347 INFO sqlalchemy.engine.Engine [generated in 0.03069s] {}
2023-11-20 18:09:40,412 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS movie_actor_relation
(
 id varchar(10) Not Null,
 movie_id INT Not Null,
 actor_id INT Not Null,
 relation_type varchar(20),
 primary key(id)
)
2023-11-20 18:09:40,413 INFO sqlalchemy.engine.Engine [generated in 0.03063s] {}
2023-11-20 18:09:40,491 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('1','1001','2001','主演')
2023-11-20 18:09:40,492 INFO sqlalchemy.engine.Engine [generated in 0.03079s] {}
2023-11-20 18:09:40,552 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('2','1001','2001','导演')
2023-11-20 18:09:40,553 INFO sqlalchemy.engine.Engine [generated in 0.02960s] {}
2023-11-20 18:09:40,613 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('3','1002','2002','导演')
2023-11-20 18:09:40,614 INFO sqlalchemy.engine.Engine [generated in 0.02969s] {}
2023-11-20 18:09:40,676 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('4','1003','2001','主演')
2023-11-20 18:09:40,676 INFO sqlalchemy.engine.Engine [generated in 0.03027s] {}
2023-11-20 18:09:40,735 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('5','1003','2003','主演')
2023-11-20 18:09:40,736 INFO sqlalchemy.engine.Engine [generated in 0.02936s] {}
2023-11-20 18:09:40,794 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('6','1003','2004','导演')
2023-11-20 18:09:40,795 INFO sqlalchemy.engine.Engine [generated in 0.02972s] {}
2023-11-20 18:09:40,854 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('7','1004','2005','导演')
2023-11-20 18:09:40,854 INFO sqlalchemy.engine.Engine [generated in 0.02838s] {}
2023-11-20 18:09:40,912 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('8','1004','2006','主演')
2023-11-20 18:09:40,913 INFO sqlalchemy.engine.Engine [generated in 0.02882s] {}
2023-11-20 18:09:40,971 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('9','1004','2007','主演')
2023-11-20 18:09:40,972 INFO sqlalchemy.engine.Engine [generated in 0.02941s] {}
2023-11-20 18:09:41,030 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('10','1005','2008','导演')
2023-11-20 18:09:41,031 INFO sqlalchemy.engine.Engine [generated in 0.02929s] {}
2023-11-20 18:09:41,092 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('11','1005','2009','主演')
2023-11-20 18:09:41,093 INFO sqlalchemy.engine.Engine [generated in 0.03062s] {}
2023-11-20 18:09:41,153 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('12','1005','2010','主演')
2023-11-20 18:09:41,154 INFO sqlalchemy.engine.Engine [generated in 0.03034s] {}
2023-11-20 18:09:41,213 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('13','1006','2011','导演')
2023-11-20 18:09:41,214 INFO sqlalchemy.engine.Engine [generated in 0.02983s] {}
2023-11-20 18:09:41,277 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('14','1006','2012','主演')
2023-11-20 18:09:41,278 INFO sqlalchemy.engine.Engine [generated in 0.03189s] {}
2023-11-20 18:09:41,337 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('15','1006','2013','主演')
2023-11-20 18:09:41,338 INFO sqlalchemy.engine.Engine [generated in 0.02962s] {}
2023-11-20 18:09:41,399 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('16','1007','2014','导演')
2023-11-20 18:09:41,400 INFO sqlalchemy.engine.Engine [generated in 0.03293s] {}
2023-11-20 18:09:41,458 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('17','1007','2015','主演')
2023-11-20 18:09:41,459 INFO sqlalchemy.engine.Engine [generated in 0.02884s] {}
2023-11-20 18:09:41,518 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('18','1008','2016','导演')
2023-11-20 18:09:41,519 INFO sqlalchemy.engine.Engine [generated in 0.03021s] {}
2023-11-20 18:09:41,582 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('19','1008','2017','主演')
2023-11-20 18:09:41,583 INFO sqlalchemy.engine.Engine [generated in 0.03009s] {}
2023-11-20 18:09:41,645 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('20','1009','2018','导演')
2023-11-20 18:09:41,651 INFO sqlalchemy.engine.Engine [generated in 0.03636s] {}
2023-11-20 18:09:41,714 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('21','1009','2019','主演')
2023-11-20 18:09:41,715 INFO sqlalchemy.engine.Engine [generated in 0.03141s] {}
2023-11-20 18:09:41,777 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('22','1009','2020','主演')
2023-11-20 18:09:41,780 INFO sqlalchemy.engine.Engine [generated in 0.03109s] {}
2023-11-20 18:09:41,841 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('23','1010','2021','导演')
2023-11-20 18:09:41,841 INFO sqlalchemy.engine.Engine [generated in 0.02985s] {}
2023-11-20 18:09:41,901 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('24','1010','2022','主演')
2023-11-20 18:09:41,902 INFO sqlalchemy.engine.Engine [generated in 0.03063s] {}
2023-11-20 18:09:41,969 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('25','1011','2023','导演')
2023-11-20 18:09:41,970 INFO sqlalchemy.engine.Engine [generated in 0.02952s] {}
2023-11-20 18:09:42,031 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('26','1011','2006','主演')
2023-11-20 18:09:42,032 INFO sqlalchemy.engine.Engine [generated in 0.03136s] {}
2023-11-20 18:09:42,097 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('27','1011','2024','主演')
2023-11-20 18:09:42,099 INFO sqlalchemy.engine.Engine [generated in 0.03484s] {}
2023-11-20 18:09:42,158 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('28','1012','2025','导演')
2023-11-20 18:09:42,163 INFO sqlalchemy.engine.Engine [generated in 0.03403s] {}
2023-11-20 18:09:42,227 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('29','1012','2026','主演')
2023-11-20 18:09:42,228 INFO sqlalchemy.engine.Engine [generated in 0.02981s] {}
2023-11-20 18:09:42,287 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('30','1012','2027','主演')
2023-11-20 18:09:42,288 INFO sqlalchemy.engine.Engine [generated in 0.02882s] {}
2023-11-20 18:09:42,349 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('31','1012','2028','主演')
2023-11-20 18:09:42,352 INFO sqlalchemy.engine.Engine [generated in 0.03381s] {}
2023-11-20 18:09:42,412 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('32','1013','2029','导演')
2023-11-20 18:09:42,413 INFO sqlalchemy.engine.Engine [generated in 0.02881s] {}
2023-11-20 18:09:42,471 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('33','1013','2030','主演')
2023-11-20 18:09:42,472 INFO sqlalchemy.engine.Engine [generated in 0.02933s] {}
2023-11-20 18:09:42,531 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('34','1013','2009','主演')
2023-11-20 18:09:42,532 INFO sqlalchemy.engine.Engine [generated in 0.03038s] {}
2023-11-20 18:09:42,592 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('35','1013','2031','主演')
2023-11-20 18:09:42,593 INFO sqlalchemy.engine.Engine [generated in 0.03011s] {}
2023-11-20 18:09:42,653 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('36','1015','2032','导演')
2023-11-20 18:09:42,654 INFO sqlalchemy.engine.Engine [generated in 0.02960s] {}
2023-11-20 18:09:42,714 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('37','1015','2015','导演')
2023-11-20 18:09:42,716 INFO sqlalchemy.engine.Engine [generated in 0.03068s] {}
2023-11-20 18:09:42,774 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('38','1015','2011','导演')
2023-11-20 18:09:42,775 INFO sqlalchemy.engine.Engine [generated in 0.03011s] {}
2023-11-20 18:09:42,835 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('39','1015','2015','主演')
2023-11-20 18:09:42,837 INFO sqlalchemy.engine.Engine [generated in 0.03023s] {}
2023-11-20 18:09:42,903 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('40','1015','2033','主演')
2023-11-20 18:09:42,905 INFO sqlalchemy.engine.Engine [generated in 0.03473s] {}
2023-11-20 18:09:42,973 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('41','1015','2034','主演')
2023-11-20 18:09:42,974 INFO sqlalchemy.engine.Engine [generated in 0.02966s] {}
2023-11-20 18:09:43,033 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('42','1016','2035','导演')
2023-11-20 18:09:43,034 INFO sqlalchemy.engine.Engine [generated in 0.02969s] {}
2023-11-20 18:09:43,094 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('43','1016','2035','主演')
2023-11-20 18:09:43,097 INFO sqlalchemy.engine.Engine [generated in 0.03143s] {}
2023-11-20 18:09:43,157 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('44','1016','2036','主演')
2023-11-20 18:09:43,158 INFO sqlalchemy.engine.Engine [generated in 0.02977s] {}
2023-11-20 18:09:43,218 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('45','1016','2022','主演')
2023-11-20 18:09:43,219 INFO sqlalchemy.engine.Engine [generated in 0.02972s] {}
2023-11-20 18:09:43,282 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('46','1017','2037','导演')
2023-11-20 18:09:43,283 INFO sqlalchemy.engine.Engine [generated in 0.02969s] {}
2023-11-20 18:09:43,346 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('47','1017','2038','导演')
2023-11-20 18:09:43,348 INFO sqlalchemy.engine.Engine [generated in 0.03162s] {}
2023-11-20 18:09:43,407 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('48','1017','2008','导演')
2023-11-20 18:09:43,408 INFO sqlalchemy.engine.Engine [generated in 0.02952s] {}
2023-11-20 18:09:43,467 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('49','1017','2001','主演')
2023-11-20 18:09:43,468 INFO sqlalchemy.engine.Engine [generated in 0.03018s] {}
2023-11-20 18:09:43,530 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('50','1017','2039','主演')
2023-11-20 18:09:43,531 INFO sqlalchemy.engine.Engine [generated in 0.03179s] {}
2023-11-20 18:09:43,592 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('51','1018','2040','导演')
2023-11-20 18:09:43,593 INFO sqlalchemy.engine.Engine [generated in 0.03002s] {}
2023-11-20 18:09:43,653 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('52','1018','2019','主演')
2023-11-20 18:09:43,654 INFO sqlalchemy.engine.Engine [generated in 0.02898s] {}
2023-11-20 18:09:43,716 INFO sqlalchemy.engine.Engine insert into movie_actor_relation
values('53','1018','2041','主演')
2023-11-20 18:09:43,716 INFO sqlalchemy.engine.Engine [generated in 0.02925s] {}
2023-11-20 18:09:43,776 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:43,777 INFO sqlalchemy.engine.Engine [cached since 14.92s ago] {}
2023-11-20 18:09:43,778 INFO sqlalchemy.engine.Engine COMMIT

### Create Relationship table for Actors

In [12]:
sql_script = """
DROP TABLE IF EXISTS movie_actor_association;

CREATE TABLE movie_actor_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="主演";

"""
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:43,855 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:43,886 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_actor_association
2023-11-20 18:09:43,888 INFO sqlalchemy.engine.Engine [generated in 0.03028s] {}
2023-11-20 18:09:43,951 INFO sqlalchemy.engine.Engine CREATE TABLE movie_actor_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="主演"
2023-11-20 18:09:43,952 INFO sqlalchemy.engine.Engine [generated in 0.03007s] {}
2023-11-20 18:09:44,032 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:44,033 INFO sqlalchemy.engine.Engine [cached since 15.18s ago] {}
2023-11-20 18:09:44,035 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
sql_script = """
DROP TABLE IF EXISTS movie_director_association;

CREATE TABLE movie_director_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="导演";
"""
scripts = [sql.strip() for sql in sql_script.split(';')]
db.session.begin()
for sql in scripts:
    db.session.execute(query_text(sql))

db.session.commit()

2023-11-20 18:09:44,119 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:44,153 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS movie_director_association
2023-11-20 18:09:44,155 INFO sqlalchemy.engine.Engine [generated in 0.03139s] {}
2023-11-20 18:09:44,218 INFO sqlalchemy.engine.Engine CREATE TABLE movie_director_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="导演"
2023-11-20 18:09:44,219 INFO sqlalchemy.engine.Engine [generated in 0.03075s] {}
2023-11-20 18:09:44,296 INFO sqlalchemy.engine.Engine
2023-11-20 18:09:44,297 INFO sqlalchemy.engine.Engine [cached since 15.44s ago] {}
2023-11-20 18:09:44,298 INFO sqlalchemy.engine.Engine COMMIT

In [14]:

query = query_text("SELECT * FROM movie_info;")
db.session.execute(query).fetchall()

2023-11-20 18:09:44,517 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-20 18:09:44,554 INFO sqlalchemy.engine.Engine SELECT * FROM movie_info;
2023-11-20 18:09:44,558 INFO sqlalchemy.engine.Engine [generated in 0.03864s] {}

[(1001, '战狼2', datetime.datetime(2017, 7, 27, 0, 0), '中国', '战争', 2017),
 (1002, '哪吒之魔童降世', datetime.datetime(2019, 7, 26, 0, 0), '中国', '动画', 2019),
 (1003, '流浪地球', datetime.datetime(2019, 2, 5, 0, 0), '中国', '科幻', 2019),
 (1004, '复仇者联盟4', datetime.datetime(2019, 4, 24, 0, 0), '美国', '科幻', 2019),
 (1005, '红海行动', datetime.datetime(2018, 2, 16, 0, 0), '中国', '战争', 2018),
 (1006, '唐人街探案2', datetime.datetime(2018, 2, 16, 0, 0), '中国', '喜剧', 2018),
 (1007, '我不是药神', datetime.datetime(2018, 7, 5, 0, 0), '中国', '喜剧', 2018),
 (1008, '中国机长', datetime.datetime(2019, 9, 30, 0, 0), '中国', '剧情', 2019),
 (1009, '速度与激情8', datetime.datetime(2017, 4, 14, 0, 0), '美国', '动作', 2017),
 (1010, '西虹市首富', datetime.datetime(2018, 7, 27, 0, 0), '中国', '喜剧', 2018),
 (1011, '复仇者联盟3', datetime.datetime(2018, 5, 11, 0, 0), '美国', '科幻', 2018),
 (1012, '捉妖记2', datetime.datetime(2018, 2, 16, 0, 0), '中国', '喜剧', 2018),
 (1013, '八佰', datetime.datetime(2020, 8, 21, 0, 0), '中国', '战争', 2020),
 (1014, '姜子牙', datetime.datetime(2020, 10, 1, 0, 0), '中国', '动画', 2020),
 (1015, '我和我的家乡', datetime.datetime(2020, 10, 1, 0, 0), '中国', '剧情', 2020),
 (1016, '你好，李焕英', datetime.datetime(2021, 2, 12, 0, 0), '中国', '喜剧', 2021),
 (1017, '长津湖', datetime.datetime(2021, 9, 30, 0, 0), '中国', '战争', 2021),
 (1018, '速度与激情9', datetime.datetime(2021, 5, 21, 0, 0), '中国', '动作', 2021)]

In [15]:
query = query_text("SELECT * FROM movie_actor_association;")
db.session.execute(query).fetchall()

2023-11-20 18:09:46,807 INFO sqlalchemy.engine.Engine SELECT * FROM movie_actor_association;
2023-11-20 18:09:46,811 INFO sqlalchemy.engine.Engine [generated in 0.03254s] {}

[(1001, 2001),
 (1005, 2009),
 (1005, 2010),
 (1006, 2012),
 (1006, 2013),
 (1007, 2015),
 (1008, 2017),
 (1009, 2019),
 (1009, 2020),
 (1010, 2022),
 (1011, 2006),
 (1011, 2024),
 (1012, 2026),
 (1012, 2027),
 (1012, 2028),
 (1013, 2030),
 (1013, 2009),
 (1013, 2031),
 (1015, 2015),
 (1003, 2001),
 (1015, 2033),
 (1015, 2034),
 (1016, 2035),
 (1016, 2036),
 (1016, 2022),
 (1017, 2001),
 (1003, 2003),
 (1017, 2039),
 (1018, 2019),
 (1018, 2041),
 (1004, 2006),
 (1004, 2007)]