## Model

In [13]:
from pathlib import Path
import pandas as pd

from flask import Flask 
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import text
from sqlalchemy.sql import func


app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+mysqlconnector://nyahua:123456@nyahua.com:3306/movie'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False 
app.app_context().push()

db = SQLAlchemy(app)

# many to many relation
movie_actor_association = db.Table(
    'movie_actor_association',
    db.Column('movie_id', db.Integer, db.ForeignKey('movie_info.movie_id')),
    db.Column('actor_id', db.Integer, db.ForeignKey('actor_info.actor_id')),
)

class Movie(db.Model):
    __tablename__ = 'movie_info'

    movie_id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    movie_name = db.Column(db.String(20))
    release_date = db.Column(db.String(15))
    country = db.Column(db.String(20))
    movie_type = db.Column(db.String(10))
    release_year = db.Column(db.Integer)
    
    moviebox = db.relationship('MovieBox', back_populates='movies', uselist=False)
    actors = db.relationship('Actor', secondary=movie_actor_association, back_populates='movies')
    
    def __repr__(self):
        return f'<Movie {self.movie_name}>'
    
class Actor(db.Model):
    __tablename__ = 'actor_info'

    actor_id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    actor_name = db.Column(db.String(20))
    gender = db.Column(db.String(2))
    country = db.Column(db.String(20))
    
    movies = db.relationship('Movie', secondary=movie_actor_association, back_populates='actors')
    
    def __repr__(self):
        return f'<Actor {self.actor_name}>'    
    
# one to one relation
class MovieBox(db.Model):
    __tablename__ = 'movie_box'
    movie_id = db.Column(db.String(10), db.ForeignKey('movie_info.movie_id'), unique=True, nullable=False, primary_key=True)
    movie_box = db.Column(db.Float)
    movies = db.relationship('Movie', back_populates='moviebox')

## Method
> basic opertions and CRUD

In [14]:
def table_dataframe(table_class):
    query = text(f"SELECT * FROM {table_class.__tablename__};")
    with db.engine.connect() as connection:
        result = connection.execute(query)
    return pd.DataFrame(result)

def select_to_dataframe(query):
    with db.engine.connect() as connection:
        result = connection.execute(text(query))
    return pd.DataFrame(result)

def find_or_add_actor(actor_name):
    # Check if the actor already exists in the database
    existing_actor = Actor.query.filter_by(actor_name=actor_name).first()

    if existing_actor:
        return existing_actor
    else:
        # Create a new actor and add it to the session
        new_actor = Actor(actor_name=actor_name)
        # session.add(new_actor)
        return new_actor

# Create Movie
def create_movie(movie_name, release_date, country, movie_type, release_year, actors, moviebox):
    movie = movie_name_year(movie_name, release_year).first()
    if movie:
        print(f"{movie_name}({release_year}) is already in Database!")
        return None
    movie = Movie(movie_name=movie_name, release_date=release_date, country=country, movie_type=movie_type, release_year=release_year)
    movie.movie_box =  moviebox
    movie.actors  = [find_or_add_actor(actor) for actor in actors]
    db.session.add(movie)
    db.session.commit()

# Retrieve Movie

In [15]:
### Retieval
def movie_name_like(name_like):
    return Movie.query.filter(Movie.movie_name.contains(name_like))

def movie_name_year(movie_name, release_year):
    return Movie.query.filter_by(movie_name=movie_name, release_year=release_year)

print(movie_name_like('2').all())
print(movie_name_year('姜子牙', 2020).all())
print(movie_name_year('姜子牙', 2020).first().moviebox.movie_box)

[<Movie 战狼2>, <Movie 唐人街探案2>, <Movie 捉妖记2>]
[<Movie 姜子牙>]
16.02

In [18]:
{'title': 'The Pork of Music', 'year': '2012'}
movies = []
for instance in Movie.query.all():
    movie = dict(title=instance.movie_name, year=instance.release_year)
    movie['actors'] = [actor.actor_name for actor in instance.actors]
    movies += [movie]
    
movies

[{'title': '战狼2', 'year': 2017, 'actors': ['吴京']},
 {'title': '哪吒之魔童降世', 'year': 2019, 'actors': []},
 {'title': '流浪地球', 'year': 2019, 'actors': ['吴京', '屈楚萧']},
 {'title': '复仇者联盟4', 'year': 2019, 'actors': ['小罗伯特·唐尼', '克里斯·埃文斯']},
 {'title': '红海行动', 'year': 2018, 'actors': ['张译', '黄景瑜']},
 {'title': '唐人街探案2', 'year': 2018, 'actors': ['王宝强', '刘昊然']},
 {'title': '我不是药神', 'year': 2018, 'actors': ['徐峥']},
 {'title': '中国机长', 'year': 2019, 'actors': ['张涵予']},
 {'title': '速度与激情8', 'year': 2017, 'actors': ['范·迪塞尔', '杰森·斯坦森']},
 {'title': '西虹市首富', 'year': 2018, 'actors': ['沈腾']},
 {'title': '复仇者联盟3', 'year': 2018, 'actors': ['小罗伯特·唐尼', '克里斯·海姆斯沃斯']},
 {'title': '捉妖记2', 'year': 2018, 'actors': ['梁朝伟', '白百何', '井柏然']},
 {'title': '八佰', 'year': 2020, 'actors': ['王千源', '张译', '姜武']},
 {'title': '姜子牙', 'year': 2020, 'actors': []},
 {'title': '我和我的家乡', 'year': 2020, 'actors': ['徐峥', '葛优', '范伟']},
 {'title': '你好，李焕英', 'year': 2021, 'actors': ['贾玲', '张小斐', '沈腾']},
 {'title': '长津湖', 'year': 2021, 'actors': ['吴京', '易烊千玺']},
 {'title': '速度与激情9', 'year': 2021, 'actors': ['范·迪塞尔', '米歇尔·罗德里格兹']},
 {'title': '满江红', 'year': 2013, 'actors': ['张译', '易烊千玺', '沈腾']}]

In [4]:
# Create Movie
def create_movie(movie_name, release_date, country, movie_type, release_year, actors, moviebox):
    movie = movie_name_year(movie_name, release_year).first()
    if movie:
        print(f"{movie_name}({release_year}) is already in Database!")
        return None
    
    actor_instances  = []
    for actor in actors:
        instance = Actor.query.filter_by(actor_name=actor).first()
        if instance is None:
            print(f"{actor} is not in actor list, please create first!")
            return None
        else:
            actor_instances += [instance]
    movie = Movie(movie_name=movie_name, release_date=release_date, country=country, movie_type=movie_type, release_year=release_year)
    movie.moviebox = MovieBox(movie_box=moviebox)
    movie.actors  = actor_instances
    db.session.add(movie)
    db.session.commit()

In [5]:
new_movie = dict(
    movie_name='满江红', 
    release_date='2013/5/15',
    country='中国', 
    movie_type='动作', 
    release_year=2013, 
    actors=['沈腾', '张译', '易烊千玺'], 
    moviebox=25.5
)
create_movie(**new_movie)

movie_name_like('满江红').first().moviebox.movie_box

满江红(2013) is already in Database!

25.5

In [6]:
query = "SELECT * FROM movie_info ORDER BY movie_id DESC LIMIT 3;"
select_to_dataframe(query)

   movie_id movie_name release_date country movie_type  release_year
0      1019        满江红   2013-05-15      中国         动作          2013
1      1018     速度与激情9   2021-05-21      中国         动作          2021
2      1017        长津湖   2021-09-30      中国         战争          2021

In [7]:
query = "SELECT * FROM actor_info WHERE actor_name IN ('沈腾', '张译', '易烊千玺');"
select_to_dataframe(query)

   actor_id actor_name gender country
0      2009         张译      男      中国
1      2022         沈腾      男      中国
2      2039       易烊千玺      男      中国

In [8]:
query = "SELECT * FROM movie_actor_association ORDER BY movie_id DESC LIMIT 3;"
select_to_dataframe(query)

   movie_id  actor_id
0      1019      2039
1      1019      2009
2      1019      2022