In [1]:
import os
import sqlite3
import pandas as pd

def executescript(connection, sql_script):
    cursor = connection.cursor()
    try:
        cursor.executescript(sql_script)
        connection.commit()
        print(f"script executed successfully.")
    except Exception as e:
        # Rollback in case of an error
        connection.rollback()
        print(f"Error: {e}")
    finally:
        # Close the connection
        connection.close()

### Create the database and input data from SQL file

In [2]:
sql_file = 'movie.sql'
db_file = 'movieDB.db'

if os.path.exists(db_file):
    os.remove(db_file)
    
with open(sql_file, 'r') as file:
    sql_script = file.read()

connection = sqlite3.connect(db_file)    
cur = executescript(connection, sql_script)

script executed successfully.

### Create Relationship table for Actors

In [3]:
sql_script = """
CREATE TABLE movie_actor_association AS
SELECT movie_id, actor_id
FROM movie_actor_relation
WHERE relation_type="主演";
"""
connection = sqlite3.connect(db_file)    
cur = executescript(connection, sql_script)

script executed successfully.

In [4]:
connection = sqlite3.connect(db_file)  
query = "SELECT * FROM movie_info;"
connection.execute(query).fetchall()

[(1001, '战狼2', '2017/7/27', '中国', '战争', 2017),
 (1002, '哪吒之魔童降世', '2019/7/26', '中国', '动画', 2019),
 (1003, '流浪地球', '2019/2/5', '中国', '科幻', 2019),
 (1004, '复仇者联盟4', '2019/4/24', '美国', '科幻', 2019),
 (1005, '红海行动', '2018/2/16', '中国', '战争', 2018),
 (1006, '唐人街探案2', '2018/2/16', '中国', '喜剧', 2018),
 (1007, '我不是药神', '2018/7/5', '中国', '喜剧', 2018),
 (1008, '中国机长', '2019/9/30', '中国', '剧情', 2019),
 (1009, '速度与激情8', '2017/4/14', '美国', '动作', 2017),
 (1010, '西虹市首富', '2018/7/27', '中国', '喜剧', 2018),
 (1011, '复仇者联盟3', '2018/5/11', '美国', '科幻', 2018),
 (1012, '捉妖记2', '2018/2/16', '中国', '喜剧', 2018),
 (1013, '八佰', '2020/08/21', '中国', '战争', 2020),
 (1014, '姜子牙', '2020/10/01', '中国', '动画', 2020),
 (1015, '我和我的家乡', '2020/10/01', '中国', '剧情', 2020),
 (1016, '你好，李焕英', '2021/02/12', '中国', '喜剧', 2021),
 (1017, '长津湖', '2021/09/30', '中国', '战争', 2021),
 (1018, '速度与激情9', '2021/05/21', '中国', '动作', 2021)]

In [5]:
query = "SELECT * FROM movie_actor_association;"
connection.execute(query).fetchall()

[(1001, 2001),
 (1003, 2001),
 (1003, 2003),
 (1004, 2006),
 (1004, 2007),
 (1005, 2009),
 (1005, 2010),
 (1006, 2012),
 (1006, 2013),
 (1007, 2015),
 (1008, 2017),
 (1009, 2019),
 (1009, 2020),
 (1010, 2022),
 (1011, 2006),
 (1011, 2024),
 (1012, 2026),
 (1012, 2027),
 (1012, 2028),
 (1013, 2030),
 (1013, 2009),
 (1013, 2031),
 (1015, 2015),
 (1015, 2033),
 (1015, 2034),
 (1016, 2035),
 (1016, 2036),
 (1016, 2022),
 (1017, 2001),
 (1017, 2039),
 (1018, 2019),
 (1018, 2041)]