# Convert CSV into MySQL DB with sqlalchemy

### Create MySQL docker:
```yaml
version: "3.9"
services:
  #############################################
  ####           mariadb Server           #####
  ##############################################
  mysql:
    image: mysql:latest
    container_name: nyahua-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 9002005
      MYSQL_DATABASE: nyahuaDB
      MYSQL_USER: nyahua
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb:/var/lib/mysql
```

### database management
-  you can enter into the container: `docker exec -it nyahua-mysql bash` then `mysql -u username -p`
- `enter` as root and grant all rights to `nyahua`
```bash
karibu@nyahua:~$ docker exec -it nyahua-mysql mysql -u root -p
mysql> GRANT ALL PRIVILEGES ON *.* TO 'nyahua'@'%';
```
- create your database
```bash
docker exec -it nyahua-container mysql -u nyahua -p
```

In [18]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# MySQL database configuration
db_config = {
    'user': 'nyahua',
    'password': '123456',
    'host': 'nyahua.com',
    'port': 3306,
    'database': 'movie'
}

# Create a database connection
database_url = f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}"
engine = create_engine(database_url)

In [19]:
# CSV file path
csv_file_path = '../dataset/movie.csv'
df = pd.read_csv(csv_file_path)

table_name = 'movies'
df.to_sql(table_name, con=engine, index=False, if_exists='replace')

36341

In [23]:
with engine.connect() as connection:
    # Perform database operations here
    result = connection.execute("SELECT * FROM movies LIMIT 100;")
    
pd.DataFrame(result)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
95,Charles T. Kanganis,Halle Berry,Jim Belushi,Casey Affleck,Action Adventure Comedy Drama Family,race the sun,Halle Berry Jim Belushi Casey Affleck Charles ...
96,John N. Smith,Henry Czerny,Johnny Morina,Brian Dooley,Drama,the boys of st. vincent,Henry Czerny Johnny Morina Brian Dooley John N...
97,Reginald Hudlin,Eddie Murphy,Robin Givens,Halle Berry,Comedy Romance,boomerang,Eddie Murphy Robin Givens Halle Berry Reginald...
98,Wong Kar-wai,Brigitte Lin,Tony Leung Chiu-Wai,Faye Wong,Drama Comedy Romance,chungking express,Brigitte Lin Tony Leung Chiu-Wai Faye Wong Won...
99,Giuseppe Tornatore,Sergio Castellitto,Tiziana Lodato,Franco Scaldati,Drama Romance,the star maker,Sergio Castellitto Tiziana Lodato Franco Scald...