In [5]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import text as query_text
from sqlalchemy.sql import func
import os

import pandas as pd
import numpy as np

app = Flask(__name__)
# Configure SQLite database
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///' + os.path.join(app.root_path, '../douban.db')
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
app.app_context().push()

db = SQLAlchemy(app)

# many to many relation
# https://flask-sqlalchemy.palletsprojects.com/en/2.x/models/
movie_actor_association = db.Table(
    'movie_actor_association',
    db.Column('movie_id', db.Integer, db.ForeignKey('douban_movies.movie_id')),
    db.Column('person_id', db.Integer, db.ForeignKey('persons.person_id')),
)


class DoubanMovie(db.Model):
    __tablename__ = 'douban_movies'

    movie_id = db.Column(db.Integer, primary_key=True)
    movie_name = db.Column(db.String(20))
    release_date = db.Column(db.String(15))
    country = db.Column(db.String(20))
    movie_type = db.Column(db.String(10))
    release_year = db.Column(db.Integer)
    description = db.Column(db.Text)
    douban_url = db.Column(db.String(255))
    poster  = db.Column(db.String(255))
    douban_rate  = db.Column(db.Float)
    rating_count = db.Column(db.Integer)
    
    # actors = db.relationship('Person', secondary=movie_actor_association, backref='movies', lazy='dynamic')
    persons = db.relationship('Person', secondary=movie_actor_association, backref='movies', lazy='dynamic')
 
    def __repr__(self):
        return f'<Douban {self.movie_name}>' 
    
class Person(db.Model):
    __tablename__ = 'persons'

    person_id = db.Column(db.Integer, primary_key=True)
    person_name = db.Column(db.String(20))
    person_name_en = db.Column(db.String(20))
    gender = db.Column(db.String(2))
    birth_date = db.Column(db.String(20))
    birth_place = db.Column(db.String(20))
    birth_year = db.Column(db.Integer())
    
    def __repr__(self):
        return f'<Person {self.person_name}>'

In [91]:
movies = pd.read_sql('douban_movies', db.engine)
persons = pd.read_sql('persons', db.engine)
associations = pd.read_sql('movie_actor_association', db.engine)

In [93]:
movie_actor = {}

for movie_id in associations.movie_id.unique():
    movie_actor[movie_id] = associations.loc[associations.movie_id==movie_id, 'person_id'].values.tolist()[:3]
movie_actor = pd.DataFrame.from_dict(movie_actor, orient='index').stack().droplevel(-1).reset_index()
movie_actor.columns = ['movie_id', 'person_id']

movie_name = movies.set_index('movie_id')['movie_name'].to_dict()
movie_rate = movies.set_index('movie_id')['douban_rate'].to_dict()
rate_count = movies.set_index('movie_id')['rating_count'].to_dict()
person_group = movie_actor.groupby('person_id')['movie_id']
actors = pd.concat([
    person_group.apply(lambda x: [mid for mid in x]),
    person_group.apply(lambda x: [movie_name[mid] for mid in x]),
    person_group.apply(lambda x: [movie_rate[mid] for mid in x]),
    person_group.apply(lambda x: [rate_count[mid] for mid in x]),
    person_group.apply(lambda x: [f"{movie_name[mid]}（{movie_rate[mid]})/n" for mid in x]),
], keys =['movie_id', 'movie_name', 'movie_rate', 'rate_count', 'movies'], 
axis=1).join(persons.set_index('person_id'))
actors['max_rate'] = actors.movie_rate.apply(max)
actors['top_count'] = actors.movie_rate.apply(len)
actors = actors.sort_values(['max_rate', 'top_count'], ascending=False)[:20]

In [96]:
actors.columns

Index(['movie_id', 'movie_name', 'movie_rate', 'rate_count', 'movies',
       'person_name', 'person_name_en', 'gender', 'birth_date', 'birth_place',
       'birth_year', 'max_rate', 'top_count'],
      dtype='object')

In [101]:
cols = ['person_name', 'gender', 'birth_date', 'birth_place',  'birth_year', 'max_rate', 'top_count', 'movies']
actors[cols]

,person_name,gender,birth_date,birth_place,birth_year,max_rate,top_count,movies
person_id,,,,,,,,
1054534,摩根·弗里曼,男,1937年06月01日,"美国,田纳西州,孟菲斯",1937,9.7,4,"[肖申克的救赎（9.7)/n, 七宗罪（8.8)/n, 遗愿清单（8.7)/n, 百万美元宝..."
1054521,蒂姆·罗宾斯,男,1958年10月16日,"美国,加利福尼亚州,西科维纳",1958,9.7,2,"[肖申克的救赎（9.7)/n, 黑水（8.6)/n]"
1041179,鲍勃·冈顿,男,1945年11月15日,"美国,加利福尼亚,圣莫尼卡",1945,9.7,1,[肖申克的救赎（9.7)/n]
1003494,张国荣,男,,"中国,香港",None,9.6,9,"[霸王别姬（9.6)/n, 倩女幽魂（8.8)/n, 英雄本色（8.6)/n, 东邪西毒（8..."
1035641,巩俐,女,1965年12月31日,"中国,辽宁,沈阳",1965,9.6,3,"[霸王别姬（9.6)/n, 唐伯虎点秋香（8.7)/n, 红高粱（8.5)/n]"
1010665,查尔斯·劳顿,男,,"英国,英格兰,约克郡,士嘉堡",None,9.6,1,[控方证人（9.6)/n]
1013957,玛琳·黛德丽,女,,"德国,柏林",None,9.6,1,[控方证人（9.6)/n]
1048197,泰隆·鲍华,男,,"美国,俄亥俄州,辛辛那提",None,9.6,1,[控方证人（9.6)/n]
1050265,张丰毅,男,1956年09月01日,"中国,湖南,长沙",1956,9.6,1,[霸王别姬（9.6)/n]
1041029,莱昂纳多·迪卡普里奥,男,1974年11月11日,"美国,加利福尼亚,洛杉矶",1974,9.5,5,"[盗梦空间（9.4)/n, 泰坦尼克号（9.5)/n, 猫鼠游戏（9.1)/n, 禁闭岛（8..."
1006956,拉尔夫·费因斯,男,1962年12月22日,"英国,萨福克,伊普斯维奇",1962,9.5,3,"[辛德勒的名单（9.5)/n, 布达佩斯大饭店（8.9)/n, 朗读者（8.6)/n]"
1031220,连姆·尼森,男,1952年06月07日,"英国,北爱尔兰",1952,9.5,3,"[辛德勒的名单（9.5)/n, 巴斯特·斯克鲁格斯的歌谣（8.5)/n, 飓风营救（8.3)/n]"
1054446,凯特·温丝莱特,女,1975年10月05日,"英国,伯克郡,雷丁",1975,9.5,3,"[泰坦尼克号（9.5)/n, 朗读者（8.6)/n, 大卫·戈尔的一生（8.6)/n]"
1054393,本·金斯利,男,1943年12月31日,"英国,英格兰,约克郡,士嘉堡",1943,9.5,2,"[辛德勒的名单（9.5)/n, 禁闭岛（8.9)/n]"
1031864,比利·赞恩,男,1966年02月24日,"美国,伊利诺伊,芝加哥",1966,9.5,1,[泰坦尼克号（9.5)/n]
1048027,安妮·海瑟薇,女,1982年11月12日,"美国,纽约,布鲁克林",1982,9.4,6,"[星际穿越（9.4)/n, 蝙蝠侠：黑暗骑士崛起（8.8)/n, 穿普拉达的女王（8.2)/..."
1040511,马修·麦康纳,男,1969年11月04日,"美国,得克萨斯州,尤瓦尔迪",1969,9.4,4,"[星际穿越（9.4)/n, 达拉斯买家俱乐部（8.8)/n, 绅士们（8.3)/n, 欢乐好..."
1025215,琼·艾伦,女,1956年08月20日,"美国,伊利诺伊州,罗谢尔",1956,9.4,3,"[忠犬八公的故事（9.4)/n, 谍影重重2（8.7)/n, 变脸（8.5)/n]"
1053572,劳拉·琳妮,女,1964年02月05日,"美国,纽约",1964,9.4,3,"[楚门的世界（9.4)/n, 萨利机长（8.3)/n, 大卫·戈尔的一生（8.6)/n]"
1322554,毕克,男,,山东济南,None,9.4,3,"[大闹天宫（9.4)/n, 天书奇谭（9.2)/n, 哪吒闹海（9.2)/n]"

In [46]:
associations

       movie_id  person_id
0      26752088    1274297
1      26752088    1313837
2      26752088    1276085
3      26752088    1312976
4      26752088    1322072
...         ...        ...
11814   1325958    1150778
11815   1325958    1054487
11816   1325958    1440990
11817   1325958    1293034
11818   1325958    1473362

[11819 rows x 2 columns]

In [47]:
associations.movie_id.unique()

array([26752088,  1292052,  3541415, 26794435,  1291561, 25662329,
       30166972, 26348103,  1292722,  1889243,  1295644, 27060077,
       26387939, 20495023,  1291546,  3319755,  3793023, 26683290,
        1295038, 27010768,  1292064, 25986180,  4920389,  1849031,
       26100958,  3011091, 30170448,  3742360,  1291560, 26861685,
       30252495, 27110296, 26580232,  1291549,  1307914,  2129039,
       27119724, 24773958,  1929463, 30334073,  1652587,  1306249,
        2131459, 26425063,  1295124,  1308807, 11026735, 27622447,
       30318116, 25921812,  3287562,  1851857,  1302425,  5912992,
        6786002,  1292370,  1296996,  1293172,  1305487,  4739952,
        1866479,  1291544,  1293839,  3011235, 26325320,  1432146,
        1298070,  1292215, 27024903, 26799731, 11525673,  2334904,
       21937452,  1485260,  1907966, 26611804,  1292343,  1457217,
        7065154,  1297447,  1291843,  1298624,  1862151, 26374197,
       26709258,  1418200,  1291571, 25937854,  1292223, 21318488,
       25958717,  6390823,  2353023, 25934014,  1292220, 26787574,
       30170546,  1293544, 25716096, 26393561,  1291552,  1780330,
       26336252,  1300299,  4202982, 10777687, 25864085,  1828115,
        1297518,  1292656,  1291579,  3395373,  1297192,  1291999,
        3011051, 26277313,  1300267,  1296339,  5989818, 10577869,
        1297359,  3008247,  1307811, 21937445,  1291578, 21360417,
        3649049, 27202818, 27615441,  1296141, 26628357,  1291818,
        3075287,  1291858,  1294408,  1978709,  1418834,  6538866,
       24405378,  1418019, 10533913, 10463953, 24719063,  6850547,
        1297574, 26614893,  1309163,  1959877,  1482072,  1296736,
        1292328, 26647117,  1299131, 25807345,  1316510,  1858711,
       20438964, 25773932,  1395091,  6534248,  1291990,  4202302,
        4917726, 25814705, 27059130,  1292679, 23761370,  1293350,
       25917973,  1291557, 25980443, 27119586,  1900841,  1292274,
       25814707,  1297630,  1291545,  1291875, 25724855, 25765735,
        6307447,  1297052, 30292777,  5322596, 25895901,  3734112,
        1867345, 10808442,  1292224,  1293182,  1291585, 25798222,
        6981153, 26761416, 26259677,  1417598,  6985810, 10485647,
        1303394,  1783457, 24750126,  3592854, 20645098,  1294639,
       25977027,  3821067, 26593587, 27113517,  6791750,  4915857,
        4268598,  1309101,  1302467,  1304141,  1305690, 10512661,
        1303021, 10741643,  6874403, 26416603,  1794171,  1793929,
       26340419,  1291580, 10437779,  4023638,  1760622,  1307394,
       27166442,  1292337,  1292262,  1291575,  1294371,  2133323,
        1302827,  1315574,  3804891,  1959195,  1310177,  1292287,
        1308779,  3011308, 30257175,  1301168,  4286017,  1306809,
        1300992,  1966182,  2973079,  3168089, 24875534,  1291822,
        1294638, 27019527, 30211998, 27024959,  2149806, 11606328,
        1293318, 25983044, 26871906,  3006772, 26419637, 27172891,
        1300374,  1428581,  1307106,  1293088,  1308857,  3274505,
        1307739,  1308767,  1291844, 26685451,  1438652,  1292226,
       26654498,  3068206,  1291870,  4746257, 26794701,  3233635,
        1291574,  6722879, 20470074,  1937946,  3072124,  1307315,
       26346327,  1291586,  1304073, 25837262, 24815950,  1292286,
        1291879, 30331959,  1297223, 26615208,  1292233, 25919910,
       26354572,  1291824,  1293181,  1292523,  1820156,  1293964,
        1300883,  4876722,  3789848,  2213597,  1291838,  1950148,
        1303037,  1292329,  1300117, 25954475,  4848115,  2363506,
        1307694,  2300586, 26815162,  3205624,  1298653,  1308575,
        1292484, 30241298, 26694988,  1292659, 10757577,  3071604,
       25842038,  1419936, 25938803, 25769362,  1300064,  5908478,
        1300868,  2124703, 26863778, 27018285,  1863766,  1950330,
        1292528, 27040737, 26683421, 27002635, 26640371,  1303173,
        1306505, 30234315,  1291584, 26952704,  1309060,  1295865,
        1301459,  2286642,  6879185, 26303622,  1292062,  1299643,
        1293013,  3552028, 27160618,  1293908,  1300555,  1291839,
       25738406,  1308865,  1300656, 25932086,  6860160, 25855071,
       10535568,  1293460,  5964718,  1293929, 27072795,  1291868,
       25858604,  1309016,  1857099, 27000061,  1305725, 10537853,
       30198539, 26773744,  1297995,  4826419,  1298443,  2357162,
        1292214, 26701196, 11600078,  1397546,  3006309,  3743114,
       26990609,  3072086,  1291856,  1294417,  2124586, 21937438,
       25787888,  3073124, 33404726,  6536180,  3530403,  1295399,
       27093707,  4798888,  1920805,  1308076,  4319218, 25823132,
        4009651,  3824672, 26778790,  1291568,  1388216,  7059671,
        1972698,  1433990,  1299288,  2209575,  6549903,  1292260,
       26844922,  1325958])